Repository pypi/warehouse, pull requests merged in 2018-04, with the labels that each got.

#3556 Style focus states, use buttons where needed
  warehouse/static/sass/base/_forms.scss
  warehouse/static/sass/base/_typography.scss
  warehouse/static/sass/blocks/_accordion.scss
  warehouse/static/sass/blocks/_button.scss
  warehouse/static/sass/blocks/_filter-badge.scss
  warehouse/static/sass/blocks/_filter-panel.scss
  warehouse/static/sass/blocks/_package-header.scss
  warehouse/static/sass/blocks/_package-snippet.scss
  warehouse/static/sass/blocks/_release.scss
  warehouse/static/sass/blocks/_search-form.scss
  warehouse/static/sass/blocks/_skip-to-content.scss
  warehouse/static/sass/blocks/_vertical-tabs.scss
  warehouse/static/sass/settings/_colours.scss
  warehouse/static/sass/tools/_design-utilities.scss
  warehouse/templates/includes/current-user-indicator.html
  warehouse/templates/includes/flash-messages.html
  warehouse/templates/manage/account.html
  warehouse/templates/manage/release.html
  warehouse/templates/manage/releases.html
  warehouse/templates/search/results.html
Labels: accessibility

#3555 Make color scheme WCAG 2.0 AA compliant
  warehouse/static/sass/blocks/_footer.scss
  warehouse/static/sass/blocks/_project-description.scss
  warehouse/static/sass/blocks/_sponsors.scss
Labels: accessibility

#3566 Remove beta banner
  warehouse/templates/base.html
  warehouse/templates/pages/help.html
Labels: blocked

#3602 Add 'switch to desktop' button
  warehouse/static/js/warehouse/controllers/viewport_toggle_controller.js
  warehouse/static/sass/blocks/_button.scss
  warehouse/static/sass/warehouse.scss
  warehouse/templates/base.html
Labels: javascript
