Repository pypi/warehouse, pull requests merged in 2022-07, with the labels that each got.

#11378 Fix SQLAlchemy warnings
  tests/unit/manage/test_views.py
  warehouse/accounts/models.py
  warehouse/admin/views/emails.py
  warehouse/admin/views/organizations.py
  warehouse/admin/views/prohibited_project_names.py
  warehouse/admin/views/projects.py
  warehouse/admin/views/users.py
  warehouse/events/models.py
  warehouse/malware/checks/package_turnover/check.py
  warehouse/manage/views.py
  warehouse/organizations/models.py
  warehouse/packaging/models.py
  warehouse/packaging/tasks.py
Labels: developer experience

#11858 API: Add "summary" field to vulnerability reports
  tests/unit/legacy/api/test_json.py
  warehouse/integrations/vulnerabilities/__init__.py
  warehouse/integrations/vulnerabilities/models.py
  warehouse/integrations/vulnerabilities/utils.py
  warehouse/legacy/api/json.py
  warehouse/migrations/versions/1e61006a47c2_add_detail_to_vulnerabilityrecord.py
Labels: APIs/feeds

#11810 Group project and user management templates
  warehouse/locale/messages.pot
  warehouse/manage/views.py
  warehouse/templates/manage/account/token.html
  warehouse/templates/manage/project/documentation.html
  warehouse/templates/manage/project/history.html
  warehouse/templates/manage/project/journal.html
  warehouse/templates/manage/project/manage_project_base.html
  warehouse/templates/manage/project/publishing.html
  warehouse/templates/manage/project/release.html
  warehouse/templates/manage/project/releases.html
  warehouse/templates/manage/project/roles.html
  warehouse/templates/manage/project/settings.html
Labels: awaiting-response

#11885 Better upload errors when using API tokens
  tests/unit/macaroons/test_caveats.py
  tests/unit/macaroons/test_security_policy.py
  tests/unit/macaroons/test_services.py
  warehouse/macaroons/caveats.py
  warehouse/macaroons/security_policy.py
  warehouse/macaroons/services.py
Labels: usability, APIs/feeds
