Repository pypi/warehouse, pull requests merged in 2022-10, with the labels that each got.

#12350 External collaborator cannot leave the project
  tests/unit/manage/test_views.py
  warehouse/locale/messages.pot
  warehouse/manage/views.py
  warehouse/templates/manage/organization/roles.html
  warehouse/templates/manage/project/roles.html
Labels: organizations

#12364 Confirmation message when declining an invitation
  tests/unit/accounts/test_views.py
  tests/unit/email/test_init.py
  warehouse/accounts/views.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/static/sass/blocks/_snippet.scss
  warehouse/templates/email/organization-member-invite-declined/body.html
  warehouse/templates/email/organization-member-invite-declined/body.txt
  warehouse/templates/manage/manage_base.html
  warehouse/templates/manage/organizations.html
Labels: organizations

#12351 Catalog event tags
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/integration/github/test_utils.py
  tests/unit/malware/checks/package_turnover/test_check.py
  tests/unit/manage/test_views.py
  warehouse/accounts/forms.py
  warehouse/accounts/security_policy.py
  warehouse/accounts/views.py
  warehouse/admin/views/organizations.py
  warehouse/config.py
  warehouse/events/__init__.py
  warehouse/events/tags.py
  warehouse/forklift/legacy.py
  warehouse/integrations/github/utils.py
  warehouse/locale/messages.pot
  warehouse/malware/checks/package_turnover/check.py
  warehouse/manage/views.py
  warehouse/organizations/tasks.py
  warehouse/templates/manage/account.html
  warehouse/templates/manage/project/history.html
  warehouse/utils/project.py
Labels: developer experience

#12362 Fix AssertionError in tests comparing LazyString
  tests/unit/i18n/test_init.py
  warehouse/i18n/__init__.py
Labels: testing, developer experience

#12377 Organization updated email notification
  tests/unit/email/test_init.py
  tests/unit/manage/test_views.py
  tests/unit/test_predicates.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/manage/forms.py
  warehouse/manage/views.py
  warehouse/predicates.py
  warehouse/templates/email/organization-updated/body.html
  warehouse/templates/email/organization-updated/body.txt
  warehouse/templates/email/organization-updated/subject.txt
  warehouse/templates/manage/organization/settings.html
  warehouse/templates/manage/organizations.html
Labels: organizations

#12360 "Security history" for organizations and teams
  tests/common/db/organizations.py
  tests/unit/manage/test_views.py
  tests/unit/test_routes.py
  warehouse/accounts/services.py
  warehouse/events/tags.py
  warehouse/locale/messages.pot
  warehouse/manage/views.py
  warehouse/organizations/models.py
  warehouse/organizations/services.py
  warehouse/routes.py
  warehouse/static/sass/blocks/_table.scss
  warehouse/templates/includes/manage/manage-organization-menu.html
  warehouse/templates/includes/manage/manage-team-menu.html
  warehouse/templates/manage/organization/history.html
  warehouse/templates/manage/project/history.html
  warehouse/templates/manage/team/history.html
Labels: organizations

#12413 Limit "Add internal collaborator" to org members
  warehouse/locale/messages.pot
  warehouse/manage/forms.py
  warehouse/manage/views.py
Labels: organizations

#12443 vulnerabilities: expose withdrawn state on vulnerabilities
  docs/api-reference/json.rst
  tests/unit/integration/vulnerabilities/test_package.py
  tests/unit/legacy/api/test_json.py
  warehouse/integrations/vulnerabilities/__init__.py
  warehouse/integrations/vulnerabilities/models.py
  warehouse/integrations/vulnerabilities/utils.py
  warehouse/legacy/api/json.py
  warehouse/migrations/versions/bd71566c2877_add_withdrawn_field.py
Labels: APIs/feeds

#12455 Combined 17 Dependabot Pull Requests
  requirements/deploy.in
  requirements/deploy.txt
  requirements/lint.txt
  requirements/main.txt
  requirements/tests.txt
Labels: dependencies, python

#12458 chore(deps): upgrade some JavaScript dependencies
  Gulpfile.babel.js
  package-lock.json
  package.json
  tests/frontend/setup.js
Labels: javascript, dependencies

#10002 Translations are now trimmed by default.
  babel.cfg
  docs/translations.rst
  tests/functional/test_templates.py
  tests/unit/i18n/test_extensions.py
  warehouse/config.py
  warehouse/i18n/extensions.py
  warehouse/locale/messages.pot
  warehouse/templates/500.html
  warehouse/templates/accounts/recovery-code.html
  warehouse/templates/accounts/two-factor.html
  warehouse/templates/email/account-deleted/body.txt
  warehouse/templates/email/basic-auth-with-2fa/body.html
  warehouse/templates/email/basic-auth-with-2fa/body.txt
  warehouse/templates/email/password-compromised-hibp/body.html
  warehouse/templates/email/password-compromised-hibp/body.txt
  warehouse/templates/email/password-compromised/body.html
  warehouse/templates/email/password-compromised/body.txt
  warehouse/templates/email/recovery-code-reminder/body.txt
  warehouse/templates/email/recovery-code-used/body.txt
  warehouse/templates/email/recovery-codes-generated/body.txt
  warehouse/templates/includes/accounts/profile-actions.html
  warehouse/templates/includes/accounts/profile-callout.html
  warehouse/templates/includes/hash-modal.html
  warehouse/templates/includes/packaging/project-data.html
  warehouse/templates/includes/session-notifications.html
  warehouse/templates/index.html
  warehouse/templates/manage/account.html
  warehouse/templates/manage/account/token.html
  warehouse/templates/manage/account/totp-provision.html
  warehouse/templates/manage/account/webauthn-provision.html
  warehouse/templates/manage/manage_base.html
  warehouse/templates/manage/organization/projects.html
  warehouse/templates/manage/organization/settings.html
  warehouse/templates/manage/organization/teams.html
  warehouse/templates/manage/organizations.html
  warehouse/templates/manage/project/documentation.html
  warehouse/templates/manage/project/publishing.html
  warehouse/templates/manage/project/roles.html
  warehouse/templates/manage/project/settings.html
  warehouse/templates/pages/classifiers.html
  warehouse/templates/pages/help.html
  warehouse/templates/pages/stats.html
  warehouse/templates/search/results.html
Labels: translation
