Repository pypi/warehouse, pull requests merged in 2022-04, with the labels that each got.

#11130 Fix docs: static tests don't run with `make tests`
  docs/development/frontend.rst
  docs/development/getting-started.rst
Labels: documentation

#11141 Update maildev ports {80 => 1080} and {25 => 1025}
  dev/environment
  docker-compose.yml
Labels: developer experience

#11157 warehouse, tests: pick DB changes from #11122
  tests/unit/integration/github/test_utils.py
  tests/unit/macaroons/test_services.py
  tests/unit/manage/test_views.py
  warehouse/integrations/github/utils.py
  warehouse/locale/messages.pot
  warehouse/macaroons/models.py
  warehouse/macaroons/services.py
  warehouse/manage/views.py
  warehouse/migrations/versions/84262e097c26_rename_caveats_to_permissions.py
  warehouse/templates/manage/account.html
  warehouse/templates/manage/token.html
Labels: APIs/feeds

#11122 Add `ExpiryCaveat`
  tests/unit/macaroons/test_caveats.py
  warehouse/macaroons/caveats.py
Labels: APIs/feeds

#11262 Fix `bin/static_lint` error when running `make lint`
  Makefile
Labels: developer experience
