Repository pypi/warehouse, pull requests merged in 2023-03, with the labels that each got.

#13127 refactor(dev): include missing files
  docker-compose.yml
Labels: developer experience

#12953 Create user facing documentation structure
  .github/workflows/ci.yml
  .gitignore
  .readthedocs.yml
  Dockerfile
  Makefile
  bin/dev-docs
  bin/user-docs
  docker-compose.yml
  docs/.gitignore
  docs/dev/Makefile
  docs/dev/_static/browserstack-logo.png
  docs/dev/_static/check-lifecycle.png
  docs/dev/_static/verdict-lifecycle.png
  docs/dev/api-reference/bigquery-datasets.rst
  docs/dev/api-reference/feeds.rst
  docs/dev/api-reference/index.rst
  docs/dev/api-reference/integration-guide.rst
  docs/dev/api-reference/json.rst
  docs/dev/api-reference/legacy.rst
  docs/dev/api-reference/stats.rst
  docs/dev/api-reference/xml-rpc.rst
  docs/dev/application.rst
  docs/dev/conf.py
  docs/dev/development/cloud.rst
  docs/dev/development/database-migrations.rst
  docs/dev/development/development-database.rst
  docs/dev/development/email.rst
  docs/dev/development/frontend.rst
  docs/dev/development/getting-started.rst
  docs/dev/development/index.rst
  docs/dev/development/legacy-application-structure.rst
  docs/dev/development/malware-checks.rst
  docs/dev/development/patterns.rst
  docs/dev/development/reviewing-patches.rst
  docs/dev/development/submitting-patches.rst
  docs/dev/development/token-scanning.rst
  docs/dev/index.rst
  docs/dev/roadmap.rst
  docs/dev/security.rst
  docs/dev/translations.rst
  docs/dev/ui-principles.rst
  docs/user/README.md
  docs/user/assets/favicon.ico
  docs/user/assets/logo.png
  docs/user/index.md
  docs/user/stylesheets/extra.css
  mkdocs-user-docs.yml
  requirements.txt
  requirements/docs/dev.in
  requirements/docs/dev.txt
  requirements/docs/user.in
  requirements/docs/user.txt
Labels: documentation

#13175 fix: add org owners to email for project deletion
  tests/unit/manage/test_views.py
  warehouse/locale/messages.pot
  warehouse/manage/views.py
Labels: organizations

#13178 fix(ci): invert condition for check-runs
  .github/workflows/combine-prs.yml
Labels: developer experience

#13182 feat(ci): trigger ci flows after combine prs
  .github/workflows/ci.yml
  .github/workflows/combine-prs.yml
  .github/workflows/node-ci.yml
Labels: developer experience

#13228 lint: include more file extensions
  pyproject.toml
Labels: developer experience

#13219 Address some warnings surfaced in tests
  warehouse/admin/static/dist/.gitkeep
  warehouse/forklift/legacy.py
  warehouse/static/dist/.gitkeep
  warehouse/utils/readme.py
Labels: developer experience

#13238 test: wrap resend test case with a time freeze
  tests/unit/manage/test_views.py
Labels: testing

#13220 fix: manage button direct to the settings page
  warehouse/locale/messages.pot
  warehouse/templates/manage/organization/projects.html
  warehouse/templates/manage/organization/teams.html
  warehouse/templates/manage/organizations.html
Labels: organizations

#13221 fix: replace text with matrix
  warehouse/locale/messages.pot
  warehouse/organizations/models.py
  warehouse/static/sass/blocks/_org-roles.scss
  warehouse/static/sass/warehouse.scss
  warehouse/templates/manage/organization/roles.html
Labels: organizations

#13245 chore: remove keeper files
  warehouse/admin/static/dist/.gitkeep
  warehouse/static/dist/.gitkeep
Labels: developer experience

#13250 events, migrations: fix event deletion cascades
  warehouse/events/models.py
  warehouse/migrations/versions/203f1f8dcf92_event_source_id_cascades_on_delete.py
Labels: bug :bug:

#13256 chore(deps): bump limits
  requirements/main.txt
Labels: dependencies

#13255 refactor(ci): rework combiner logic
  .github/workflows/combine-prs.yml
Labels: developer experience

#13258 fix(ci): use static branch name
  .github/workflows/combine-prs.yml
Labels: developer experience

#13260 fix(ci): add permission for token to trigger action
  .github/workflows/combine-prs.yml
Labels: developer experience

#13268 fix(ci): javascript != python
  .github/workflows/combine-prs.yml
Labels: developer experience

#13202 User docs for organization account in PyPI
  docs/user/index.md
  docs/user/main.py
  docs/user/organization-accounts/actions/billing-actions.md
  docs/user/organization-accounts/actions/org-actions.md
  docs/user/organization-accounts/actions/project-actions.md
  docs/user/organization-accounts/actions/team-actions.md
  docs/user/organization-accounts/index.md
  docs/user/organization-accounts/org-acc-faq.md
  docs/user/organization-accounts/roles-entities.md
  mkdocs-user-docs.yml
  requirements/docs/user.in
  requirements/docs/user.txt
Labels: documentation, organizations

#13273 dev UX fixups
  Dockerfile
  Makefile
  docker-compose.yml
  docs/dev/Makefile
Labels: developer experience

#13296 Add dark theme to docs and Blog
  bin/rtd-docs
  bin/user-docs
  docs/mkdocs-blog.yml
  docs/mkdocs-user-docs.yml
Labels: UX/UI, documentation

#13285 [OIDC] User docs
  docs/mkdocs-user-docs.yml
  docs/user/assets/dropdown.png
  docs/user/assets/logo.png
  docs/user/assets/manage-link.png
  docs/user/assets/pending-publisher-form-filled.png
  docs/user/assets/pending-publisher-form.png
  docs/user/assets/pending-publisher-registered.png
  docs/user/assets/project-publisher-registered.png
  docs/user/assets/project-publishing-form.png
  docs/user/assets/project-publishing-link.png
  docs/user/assets/project-publishing.png
  docs/user/assets/publishing-link.png
  docs/user/assets/required-reviewers.png
  docs/user/main.py
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/index.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/troubleshooting.md
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation

#13324 chore(deps): upgrade JS dev dependencies
  .stylelintrc.json
  bin/static_tests
  package-lock.json
  package.json
  tests/frontend/setup.js
  warehouse/static/sass/blocks/_table.scss
  warehouse/static/sass/settings/_z-index.scss
  warehouse/static/sass/tools/_design-utilities.scss
Labels: javascript

#13246 Reorganize view-code related to Teams
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_teams.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/manage/views/teams.py
Labels: developer experience

#13345 blog: nits found
  Makefile
  bin/blog
  docker-compose.yml
  docs/blog/README.md
  docs/blog/posts/2023-03-21-welcome-to-the-pypi-blog.md
Labels: developer experience, blog
