Repository pypi/warehouse, pull requests merged in 2023-04, with the labels that each got.

#13365 docs/trusted-publishers: example fixes, improvements
  docs/user/main.py
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/troubleshooting.md
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation

#13396 sending emails: handle case where we want to email confirming account deletion.
  tests/unit/email/test_init.py
  warehouse/email/__init__.py
Labels: bug :bug:

#13404 Fix typo in trusted-publishers docs
  docs/user/trusted-publishers/adding-a-publisher.md
Labels: documentation

#13353 refactor: replace custom clipboard with stimulus
  tests/frontend/clipboard_controller_test.js
  warehouse/locale/messages.pot
  warehouse/static/js/warehouse/controllers/clipboard_controller.js
  warehouse/static/js/warehouse/index.js
  warehouse/static/sass/blocks/_copy-tooltip.scss
  warehouse/templates/includes/hash-modal.html
  warehouse/templates/manage/account/recovery_codes-provision.html
  warehouse/templates/manage/account/token.html
  warehouse/templates/manage/account/totp-provision.html
  warehouse/templates/packaging/detail.html
  warehouse/templates/pages/classifiers.html
Labels: javascript, HTML, CSS/SCSS

#13439 [oidc] Blog post for Trusted Publishing launch
  docs/blog/posts/2023-04-20-introducing-trusted-publishers.md
  docs/mkdocs-blog.yml
Labels: blog

#13462 test(refactor): use pathlib and parametrize
  tests/functional/test_templates.py
Labels: testing

#13456 [orgs] Blog post for Organizations launch
  docs/blog/overrides/partials/content.html
  docs/blog/overrides/pypi-blog.html
  docs/blog/posts/2023-03-21-welcome-to-the-pypi-blog.md
  docs/blog/posts/2023-04-20-introducing-trusted-publishers.md
  docs/blog/posts/2023-04-23-introducing-pypi-organizations.md
  docs/mkdocs-blog.yml
Labels: organizations, blog

#13507 feat(admin): add org type to admin list
  warehouse/admin/templates/admin/organizations/list.html
Labels: admin, organizations

#13506 refactor: replace admin lookup with alias user
  tests/unit/accounts/test_services.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/manage/views/test_organizations.py
  warehouse/accounts/interfaces.py
  warehouse/accounts/services.py
  warehouse/admin/views/organizations.py
  warehouse/manage/views/organizations.py
Labels: organizations

#5536 Reworded the section about predictable URLs
  docs/dev/api-reference/integration-guide.rst
  requirements/lint.in
Labels: documentation, needs discussion
