Repository pypi/warehouse, pull requests merged in 2023-11, with the labels that each got.

#14835 Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: security, github_actions

#14852 fix: evaluate Trusted Publisher events correctly
  tests/common/db/packaging.py
  tests/unit/packaging/test_models.py
  warehouse/packaging/models.py
Labels: bug :bug:, admin, trusted-publishing

#14860 Collection of nits
  .github/dependabot.yml
  .github/workflows/node-ci.yml
  warehouse/config.py
  warehouse/db.py
  warehouse/macaroons/caveats/_core.py
  warehouse/oidc/views.py
  warehouse/utils/__init__.py
  warehouse/utils/crypto.py
  warehouse/utils/gravatar.py
  warehouse/utils/webauthn.py
Labels: developer experience, dependencies

#14871 fix: return a naive UTC object
  tests/unit/test_filters.py
  warehouse/utils/__init__.py
Labels: bug :bug:

#14912 blog: Security Audit, 3 parts
  docs/blog/posts/2023-11-14-1-pypi-completes-first-security-audit.md
  docs/blog/posts/2023-11-14-2-security-audit-remediation-warehouse.md
  docs/blog/posts/2023-11-14-3-security-audit-remediation-cabotage.md
Labels: security, blog

#14913 typo: missing close quote
  docs/blog/posts/2023-11-14-1-pypi-completes-first-security-audit.md
Labels: blog

#14923 Dismissable banners
  tests/unit/admin/views/test_banners.py
  warehouse/admin/templates/admin/banners/edit.html
  warehouse/admin/views/banners.py
  warehouse/banners/models.py
  warehouse/locale/messages.pot
  warehouse/migrations/versions/b34fa465a67c_add_banner_dismissable.py
  warehouse/static/sass/blocks/_notification-bar.scss
  warehouse/templates/includes/banner-messages.html
Labels: UX/UI

#14834 feat: add Observers and Observations models
  tests/common/db/observations.py
  tests/common/db/packaging.py
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_projects.py
  tests/unit/observations/__init__.py
  tests/unit/observations/test_models.py
  warehouse/accounts/models.py
  warehouse/admin/routes.py
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/projects/project_observations_list.html
  warehouse/admin/templates/admin/projects/release_detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/projects.py
  warehouse/migrations/versions/4297620f7b41_observations.py
  warehouse/observations/__init__.py
  warehouse/observations/models.py
  warehouse/packaging/models.py
Labels: HTML, admin

#14989 Deprecate 'changelog' XML-RPC endpoint
  docs/dev/api-reference/feeds.rst
  docs/dev/api-reference/xml-rpc.rst
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Labels: APIs/feeds
