Repository pypi/warehouse, pull requests merged in 2023-01, with the labels that each got.

#12733 Fix 11 test failures revealed by pytest-randomly
  tests/unit/admin/views/test_users.py
  tests/unit/api/test_simple.py
  tests/unit/cache/origin/test_init.py
  tests/unit/malware/test_checks.py
  tests/unit/test_tasks.py
  tests/unit/test_views.py
Labels: testing

#12728 Migrate frontend tooling to Webpack
  Dockerfile
  Dockerfile.static
  Gulpfile.babel.js
  bin/static_lint
  bin/static_pipeline
  bin/test-sourcemaps
  docker-compose.yml
  docs/application.rst
  docs/development/frontend.rst
  docs/development/getting-started.rst
  package-lock.json
  package.json
  warehouse/admin/static/fonts/fa-regular-400.svg
  warehouse/static/sass/blocks/_search-form.scss
  webpack.config.js
Labels: javascript, CSS/SCSS, developer experience, dependencies

#12742 chore: handle sass warnings
  warehouse/static/sass/base/_lists.scss
  warehouse/static/sass/base/_typography.scss
  warehouse/static/sass/blocks/_about-pypi.scss
  warehouse/static/sass/blocks/_accordion.scss
  warehouse/static/sass/blocks/_author-profile.scss
  warehouse/static/sass/blocks/_breadcrumbs.scss
  warehouse/static/sass/blocks/_button.scss
  warehouse/static/sass/blocks/_callout-block.scss
  warehouse/static/sass/blocks/_centered-heading.scss
  warehouse/static/sass/blocks/_code-block.scss
  warehouse/static/sass/blocks/_copy-tooltip.scss
  warehouse/static/sass/blocks/_copyable.scss
  warehouse/static/sass/blocks/_files.scss
  warehouse/static/sass/blocks/_footer.scss
  warehouse/static/sass/blocks/_form-group.scss
  warehouse/static/sass/blocks/_gravatar-form.scss
  warehouse/static/sass/blocks/_horizontal-menu.scss
  warehouse/static/sass/blocks/_language-switcher.scss
  warehouse/static/sass/blocks/_modal.scss
  warehouse/static/sass/blocks/_notification-bar.scss
  warehouse/static/sass/blocks/_package-header.scss
  warehouse/static/sass/blocks/_project-description.scss
  warehouse/static/sass/blocks/_release.scss
  warehouse/static/sass/blocks/_sidebar-section.scss
  warehouse/static/sass/blocks/_site-header.scss
  warehouse/static/sass/blocks/_skip-to-content.scss
  warehouse/static/sass/blocks/_snippet.scss
  warehouse/static/sass/blocks/_sponsors.scss
  warehouse/static/sass/blocks/_table.scss
  warehouse/static/sass/blocks/_totp-form.scss
  warehouse/static/sass/blocks/_vertical-tabs.scss
  warehouse/static/sass/blocks/_viewport-section.scss
  warehouse/static/sass/layout-helpers/_containers.scss
  warehouse/static/sass/layout-helpers/_left-layout.scss
  warehouse/static/sass/settings/_grid.scss
  warehouse/static/sass/tools/_layout-utilities.scss
  warehouse/static/sass/tools/bourbon/functions/_px-to-em.scss
  warehouse/static/sass/tools/bourbon/functions/_strip-units.scss
  warehouse/static/sass/tools/neat/grid/_private.scss
  warehouse/static/sass/warehouse.scss
  webpack.config.js
Labels: CSS/SCSS, developer experience

#12153 Issue Resolved : Prefer "critical project" to "2fa required" badge on /manage/projects/
  warehouse/locale/messages.pot
  warehouse/templates/manage/projects.html
Labels: UX/UI

#12758 chore(deps): cleanup some babel
  .babelrc
  package-lock.json
  package.json
  tests/frontend/setup.js
  warehouse/static/js/warehouse/index.js
Labels: javascript, dependencies

#12781 perf: lazy load some images
  tests/unit/sponsors/test_models.py
  warehouse/sponsors/models.py
  warehouse/templates/index.html
Labels: HTML, python

#12777 Frontend: GitHub repo info controller: refactor to use stimulus outlets
  package-lock.json
  package.json
  tests/frontend/github_repo_info_controller_test.js
  warehouse/locale/messages.pot
  warehouse/static/js/warehouse/controllers/github_repo_info_controller.js
  warehouse/static/js/warehouse/controllers/github_repo_stats_controller.js
  warehouse/templates/includes/packaging/project-data.html
  warehouse/templates/packaging/detail.html
Labels: javascript

#12790 fix: check confirmation dialog when connected
  warehouse/static/js/warehouse/controllers/confirm_password_controller.js
Labels: javascript

#12792 chore: configure alembic to run hooks
  tests/unit/test_db.py
  warehouse/db.py
Labels: developer experience

#12793 chore: upgrade nodejs runtime to latest LTS
  .github/workflows/ci.yml
  Dockerfile
Labels: javascript

#12794 chore(deps): load fontawesome via import
  warehouse/locale/messages.pot
  warehouse/static/sass/vendor/fontawesome.scss
  warehouse/templates/base.html
  webpack.config.js
Labels: CSS/SCSS

#12872 feat(admin): surface email breach counts in UI
  dev/environment
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_services.py
  tests/unit/admin/views/test_users.py
  warehouse/accounts/__init__.py
  warehouse/accounts/interfaces.py
  warehouse/accounts/services.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
  warehouse/config.py
Labels: admin

#12914 fix(admin): style email details
  warehouse/admin/templates/admin/emails/detail.html
Labels: UX/UI, HTML, admin
