Repository pypi/warehouse, pull requests merged in 2023-07, with the labels that each got.

#14046 Separate pending org applications and add banner
  warehouse/locale/messages.pot
  warehouse/templates/manage/organizations.html
Labels: organizations

#14044 Add metrics for projects using OIDC publishers
  tests/unit/oidc/__init__.py
  tests/unit/oidc/test_tasks.py
  warehouse/oidc/__init__.py
  warehouse/oidc/tasks.py
Labels: trusted-publishing

#14055 chore(deps): update all js deps with `npm update`
  package-lock.json
Labels: javascript, dependencies

#14083 feat(admin): add visibility for description
  warehouse/admin/templates/admin/projects/release_detail.html
Labels: HTML, admin

#14084 fix: skip content_type detection when blank string
  tests/unit/utils/test_readme.py
  warehouse/utils/readme.py
Labels: bug :bug:

#14086 feat(admin): add re-render mechanism for releases
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_projects.py
  tests/unit/packaging/test_tasks.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/projects/release_detail.html
  warehouse/admin/views/projects.py
  warehouse/packaging/tasks.py
Labels: admin

#14105 feat(blog): add autodiscovery for feed
  docs/blog/overrides/main.html
Labels: blog

#14119 feat(ui): add org type badges to management pages
  warehouse/locale/messages.pot
  warehouse/templates/manage/organizations.html
Labels: UX/UI, organizations

#13589 Updated FAQs
  docs/user/organization-accounts/org-acc-faq.md
Labels: documentation

#14131 fix(dev): set breached email service to null
  dev/environment
  warehouse/config.py
Labels: developer experience

#14143 feat: run tasks to calculate account-centric tasks
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_tasks.py
  warehouse/accounts/__init__.py
  warehouse/accounts/tasks.py
Labels: feature request

#14158 Trusted publishing: Enforce strict audience checking
  requirements/main.in
  requirements/main.txt
  tests/unit/oidc/test_services.py
  warehouse/oidc/services.py
Labels: trusted-publishing
