Repository pypi/warehouse, pull requests merged in 2023-08, with the labels that each got.

#14241 docs: add system architecture diagrams
  bin/dev-docs
  docs/dev/architecture.md
  docs/dev/conf.py
  docs/dev/index.rst
  requirements/docs-dev.in
  requirements/docs-dev.txt
Labels: documentation, developer experience

#10742 Upgrade from psycopg2 to psycopg3
  dev/environment
  docs/dev/development/getting-started.rst
  requirements/lint.in
  requirements/lint.txt
  requirements/main.in
  requirements/main.txt
  requirements/tests.in
  requirements/tests.txt
  tests/conftest.py
  tests/unit/cli/test_db.py
  tests/unit/test_db.py
  tests/unit/utils/test_wsgi.py
  warehouse/accounts/views.py
  warehouse/admin/bans.py
  warehouse/banners/views.py
  warehouse/cli/db/__init__.py
  warehouse/cli/db/branches.py
  warehouse/cli/db/current.py
  warehouse/cli/db/downgrade.py
  warehouse/cli/db/heads.py
  warehouse/cli/db/history.py
  warehouse/cli/db/merge.py
  warehouse/cli/db/revision.py
  warehouse/cli/db/show.py
  warehouse/cli/db/stamp.py
  warehouse/cli/db/upgrade.py
  warehouse/ip_addresses/models.py
  warehouse/migrations/env.py
  warehouse/migrations/versions/1b97443dea8a_create_missing_fk_indexes.py
  warehouse/migrations/versions/2db9b00c8d00_index_canonical_version_for_releases.py
  warehouse/migrations/versions/4490777c984f_migrate_existing_data_for_release_is_.py
  warehouse/migrations/versions/68a00c174ba5_add_missing_indexes_for_foreign_keys.py
  warehouse/migrations/versions/c5f718cb98ac_add_cached_bool_on_files_table.py
  warehouse/migrations/versions/d142f435bb39_add_archived_column_to_files.py
  warehouse/utils/wsgi.py
Labels: dependencies

#14263 Update tests
  tests/conftest.py
  tests/functional/test_templates.py
  tests/unit/admin/views/test_projects.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/test_services.py
  tests/unit/test_recaptcha.py
Labels: testing

#14266 SQLAlchemy 2.0 Declarative Syntax
  tests/unit/cli/test_db.py
  tests/unit/test_db.py
  warehouse/accounts/models.py
  warehouse/admin/flags.py
  warehouse/banners/models.py
  warehouse/classifiers/models.py
  warehouse/db.py
  warehouse/email/ses/models.py
  warehouse/events/models.py
  warehouse/integrations/vulnerabilities/models.py
  warehouse/ip_addresses/models.py
  warehouse/macaroons/models.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/google.py
  warehouse/organizations/models.py
  warehouse/packaging/models.py
  warehouse/sitemap/models.py
  warehouse/sponsors/models.py
  warehouse/subscriptions/models.py
  warehouse/utils/row_counter.py
Labels: developer experience

#14270 Migrate admin_flags and ses_{emails,events} tables to modern sqlalchemy
  warehouse/accounts/models.py
  warehouse/admin/flags.py
  warehouse/email/ses/models.py
  warehouse/utils/db/types.py
Labels: developer experience

#14278 blog: add PyPI Safety & Security
  docs/blog/posts/2023-08-04-pypi-hires-safety-engineer.md
Labels: blog

#14294 feat: require 2fa for new users
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
  warehouse/locale/messages.pot
  warehouse/views.py
Labels: 2FA

#14308 Improve OIDC error messages
  tests/unit/oidc/models/test_core.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_google.py
  tests/unit/oidc/test_services.py
  tests/unit/oidc/test_utils.py
  tests/unit/oidc/test_views.py
  warehouse/oidc/errors.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/services.py
  warehouse/oidc/utils.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#14317 Add `NullFastlyCache` service, use it in development
  dev/environment
  tests/unit/cache/origin/test_fastly.py
  warehouse/cache/origin/fastly.py
Labels: developer experience, CDN/network

#14318 chore: migrate more models to PEP 484
  warehouse/banners/models.py
  warehouse/classifiers/models.py
  warehouse/db.py
  warehouse/events/models.py
  warehouse/ip_addresses/models.py
  warehouse/macaroons/models.py
  warehouse/sitemap/models.py
  warehouse/sponsors/models.py
  warehouse/utils/row_counter.py
Labels: developer experience

#14383 blog: GitHub Secret Scanning update
  docs/blog/assets/dd-gh-token-scanning_2023-08-16_18.12.26.png
  docs/blog/posts/2023-08-17-github-token-scanning-for-public-repos.md
Labels: blog

#14384 Check for disabled/frozen users when authorizing via macaroons
  tests/unit/macaroons/test_security_policy.py
  warehouse/macaroons/security_policy.py
Labels: security

#14388 feat: nudge users to 2fa after email verification
  tests/unit/accounts/test_views.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/includes/session-notifications.html
Labels: 2FA

#14398 chore(deps): update js deps to latest
  package-lock.json
Labels: javascript, dependencies

#14402 Add `pytest-icdiff` for better assertion diffing
  requirements/tests.in
  requirements/tests.txt
Labels: testing, developer experience, dependencies

#14404 chore: update more models to declarative
  tests/unit/cli/test_db.py
  warehouse/locale/messages.pot
  warehouse/organizations/models.py
  warehouse/subscriptions/models.py
  warehouse/utils/db/types.py
Labels: developer experience

#14423 Synchronize the signatures of our metrics stub in test
  tests/conftest.py
Labels: testing, developer experience

#14434 chore: upgrade Python runtime
  .python-version
  Dockerfile
Labels: dependencies

#14441 chore(dev): update maildev
  docker-compose.yml
Labels: developer experience

#14444 feat: add email for 2fa not yet enabled on upload
  tests/common/db/accounts.py
  tests/unit/accounts/test_models.py
  tests/unit/accounts/test_services.py
  tests/unit/accounts/test_views.py
  tests/unit/email/test_init.py
  tests/unit/forklift/test_legacy.py
  tests/unit/packaging/test_tasks.py
  warehouse/email/__init__.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/templates/email/two-factor-not-yet-enabled/body.html
  warehouse/templates/email/two-factor-not-yet-enabled/body.txt
  warehouse/templates/email/two-factor-not-yet-enabled/subject.txt
Labels: 2FA
