Repository pypi/warehouse, pull requests merged in 2023-06, with the labels that each got.

#13815 Add full content on blog RSS
  docs/mkdocs-blog.yml
Labels: blog

#13680 Expose OIDC claims in `request` context from macaroon
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_views.py
  tests/unit/forklift/test_legacy.py
  tests/unit/macaroons/test_caveats.py
  tests/unit/macaroons/test_security_policy.py
  tests/unit/macaroons/test_services.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/test_views.py
  tests/unit/utils/test_security_policy.py
  warehouse/accounts/__init__.py
  warehouse/accounts/views.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/macaroons/caveats/__init__.py
  warehouse/macaroons/interfaces.py
  warehouse/macaroons/models.py
  warehouse/macaroons/security_policy.py
  warehouse/macaroons/services.py
  warehouse/manage/views/__init__.py
  warehouse/migrations/versions/646bc86a09b6_macaroon_oidc_claims.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/github.py
  warehouse/oidc/utils.py
  warehouse/oidc/views.py
  warehouse/templates/manage/project/history.html
  warehouse/utils/security_policy.py
Labels: trusted-publishing

#13848 admin: add a "wipe factors" button
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_users.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
Labels: admin

#13850 tidy up User action btns
  warehouse/admin/templates/admin/users/detail.html
Labels: admin

#13853 fix: actually call for the publisher_url
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/oidc/models/_core.py
  warehouse/templates/manage/manage_base.html
Labels: UX/UI, HTML, bug :bug:

#13569 oidc: Google JWKS/services scaffolding
  tests/unit/oidc/models/test_core.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_google.py
  tests/unit/oidc/test_utils.py
  warehouse/oidc/__init__.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/google.py
  warehouse/oidc/utils.py
Labels: trusted-publishing

#13571 Add a horizontal tab picker
  warehouse/locale/messages.pot
  warehouse/static/js/warehouse/controllers/horizontal_tabs_controller.js
  warehouse/static/sass/blocks/_horizontal-tabs.scss
  warehouse/static/sass/warehouse.scss
  warehouse/templates/manage/account/publishing.html
Labels: trusted-publishing

#13872 Generalize trusted publishing emails
  tests/unit/accounts/test_views.py
  tests/unit/email/test_init.py
  tests/unit/oidc/models/test_google.py
  warehouse/accounts/views.py
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/google.py
  warehouse/templates/email/trusted-publisher-added/body.html
  warehouse/templates/email/trusted-publisher-added/body.txt
  warehouse/templates/email/trusted-publisher-removed/body.html
  warehouse/templates/email/trusted-publisher-removed/body.txt
  warehouse/templates/manage/project/history.html
Labels: trusted-publishing

#13884 refactor: remove version from search documents
  tests/unit/packaging/test_search.py
  tests/unit/search/test_tasks.py
  warehouse/packaging/search.py
  warehouse/search/tasks.py
Labels: search

#13889 test: refactor to remove user data from test
  tests/unit/accounts/test_views.py
Labels: testing

#13898 test: remove pytest collect hook
  tests/conftest.py
Labels: testing

#13842 refactor: remove calls to ip_address_string
  tests/unit/accounts/test_models.py
  tests/unit/cli/test_hashing.py
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_organizations.py
  tests/unit/manage/views/test_teams.py
  warehouse/cli/hashing.py
  warehouse/events/models.py
Labels: blocked

#13933 smol beautify of our admin includes
  warehouse/locale/messages.pot
  warehouse/static/sass/blocks/_admin-include.scss
  warehouse/static/sass/blocks/_button.scss
  warehouse/templates/accounts/profile.html
  warehouse/templates/includes/admin/administer-project-include.html
  warehouse/templates/includes/admin/administer-user-include.html
  warehouse/templates/packaging/detail.html
Labels: HTML, CSS/SCSS, admin

#13957 Edit getting started docs
  docs/dev/development/getting-started.rst
Labels: documentation, developer experience

#13985 Malware detection project announcement
  docs/blog/posts/2023-06-22-malware-detection-project.md
Labels: blog

#13990 chore(ci): fail tests if can't restore cache
  .github/workflows/ci.yml
Labels: testing

#13993 docs: correct environment variable name
  docs/dev/development/getting-started.rst
Labels: documentation, developer experience

#14001 feat(ui): align sponsor logos to top
  warehouse/static/sass/blocks/_sponsors.scss
  warehouse/templates/includes/sponsors-footer.html
Labels: UX/UI, CSS/SCSS

#14006 requirements: drop types-stdlib-list
  requirements/lint.in
  requirements/lint.txt
Labels: dependencies

#14012 refactor: include existing ultranormalized index
  warehouse/packaging/models.py
Labels: developer experience

#14021 Fix typo in egg blog post
  docs/blog/posts/2023-06-26-deprecate-egg-uploads.md
Labels: blog

#14024 lint: remove namespace package config
  pyproject.toml
Labels: testing, developer experience

#14026 chore: remove unused import, replaced by furo
  docs/dev/conf.py
Labels: documentation

#14042 lint: remove the legacy sqlalchemy mypy plugin
  pyproject.toml
Labels: testing, developer experience

#14025 test: run the development environment steps in CI
  .github/workflows/dev-env-test.yml
  docker-compose.yml
Labels: testing, developer experience, docker

#14045 chore: make insecure algorithm use explicit
  warehouse/accounts/services.py
  warehouse/forklift/legacy.py
  warehouse/packaging/services.py
  warehouse/utils/compression.py
  warehouse/utils/gravatar.py
Labels: testing, security
