Repository pypi/warehouse, pull requests merged in 2023-09, with the labels that each got.

#14465 chore(dev): prevent unused ignores
  pyproject.toml
  warehouse/email/ses/models.py
  warehouse/events/models.py
  warehouse/oidc/models/_core.py
  warehouse/organizations/tasks.py
  warehouse/packaging/models.py
Labels: developer experience

#14475 chore: revert celery and kombu upgrade
  requirements/main.in
  requirements/main.txt
  warehouse/tasks.py
Labels: dependencies

#14485 Require 2FA to accept an org invite
  warehouse/locale/messages.pot
  warehouse/templates/accounts/organization-invite-confirmation.html
Labels: HTML, 2FA

#14505 feat: require 2fa for new user to upload as well
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
Labels: 2FA

#14515 refactor: extract package type to enum
  warehouse/migrations/versions/b985bb544962_text.py
  warehouse/packaging/models.py
Labels: data quality

#14518 fix: call for the enum's value in xmlrpc
  warehouse/legacy/api/xmlrpc/views.py
Labels: bug :bug:

#14528 chore(dev): replace our combine-prs with an action
  .github/workflows/combine-prs.yml
Labels: developer experience, dependencies

#14529 fix: action appears to need fill version string
  .github/workflows/combine-prs.yml
Labels: developer experience

#14516 refactor: update more text to string
  warehouse/accounts/models.py
  warehouse/migrations/versions/8eee7a6fa93a_update_text_to_str.py
Labels: data quality

#14543 chore(dev): couple of dev env improvements
  .editorconfig
  bin/reformat
Labels: developer experience

#14552 Break long words in sidebar
  warehouse/static/sass/blocks/_sidebar-section.scss
Labels: CSS/SCSS

#14562 test: remove exclusions for coverage
  warehouse/cli/classifiers.py
  warehouse/cli/db/__init__.py
  warehouse/cli/organizations.py
  warehouse/cli/projects.py
  warehouse/cli/search.py
  warehouse/cli/sponsors.py
  warehouse/cli/storages.py
  warehouse/forklift/legacy.py
  warehouse/search/tasks.py
Labels: developer experience

#14565 feat: signal to autocomplete for OTP
  warehouse/templates/accounts/two-factor.html
Labels: HTML, 2FA

#14580 blog: inbound malware reporting
  docs/blog/README.md
  docs/blog/assets/2023-09-18-inbound-malware-reporting/hist-resp-time-minutes.png
  docs/blog/assets/2023-09-18-inbound-malware-reporting/inbound-by-date.png
  docs/blog/assets/2023-09-18-inbound-malware-reporting/inbound-by-month.png
  docs/blog/assets/2023-09-18-inbound-malware-reporting/inbound-by-week.png
  docs/blog/assets/2023-09-18-inbound-malware-reporting/med-response-times-by-date.png
  docs/blog/posts/2023-05-26-reducing-stored-ip-data.md
  docs/blog/posts/2023-06-01-2fa-enforcement-for-upload.md
  docs/blog/posts/2023-09-18-inbound-malware-reporting.md
  docs/mkdocs-blog.yml
Labels: blog

#14584 chore: update enum types
  pyproject.toml
  requirements/main.in
  requirements/main.txt
  warehouse/accounts/models.py
  warehouse/db.py
  warehouse/ip_addresses/models.py
  warehouse/migrations/env.py
  warehouse/migrations/versions/70f918653fc6_fix_up_enums.py
Labels: developer experience, dependencies, data quality

#14587 chore: convert packaging models to PEP 484 Declarative
  warehouse/migrations/versions/186f076eb60b_text.py
  warehouse/packaging/models.py
Labels: data quality

#14603 feat: add admin facility for tokens
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_macaroons.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/macaroons/decode_token.html
  warehouse/admin/templates/admin/macaroons/detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/macaroons.py
Labels: admin, security

#14616 feat: allow bearer type for macaroons
  tests/unit/macaroons/test_security_policy.py
  warehouse/macaroons/security_policy.py
Labels: security

#14621 chore(dev): add sample docker-compose override
  docker-compose.override.yaml-sample
  docs/dev/development/getting-started.rst
Labels: documentation, developer experience

#14642 chore(dev): group psycopg packages together
  .github/dependabot.yml
Labels: developer experience, github_actions

#14652 fix: Hash-checking mode link updated
  warehouse/templates/includes/hash-modal.html
Labels: documentation
