Repository pypi/warehouse, pull requests merged in 2023-12, with the labels that each got.

#14949 refactor: replace identity lookups
  tests/conftest.py
  tests/unit/accounts/test_views.py
  tests/unit/test_views.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/views.py
Labels: security

#15013 blog: add account takeover incident
  docs/blog/posts/2023-12-04-account-takeover.md
Labels: blog

#15017 feat: admin flag to require 2fa
  docs/blog/posts/2023-12-06-2fa-enforcement-on-testpypi.md
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
  warehouse/admin/flags.py
  warehouse/migrations/versions/0940ed80e40a_admin_flag_2fa_required.py
Labels: blog, 2FA

#15021 chore: upgrade to python 3.11.7
  .python-version
  Dockerfile
Labels: dependencies, python

#15045 chore(deps): pin isort to prior to 5.13
  requirements/lint.in
Labels: dependencies, python

#15025 blog: replace external plugin with built-in plugin
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/blog/overrides/partials/content.html
  docs/blog/overrides/partials/header.html
  docs/blog/overrides/partials/nav-item.html
  docs/blog/overrides/partials/nav.html
  docs/blog/overrides/pypi-blog.html
  docs/blog/posts/2023-03-21-welcome-to-the-pypi-blog.md
  docs/blog/posts/2023-04-20-introducing-trusted-publishers.md
  docs/blog/posts/2023-04-23-introducing-pypi-organizations.md
  docs/blog/posts/2023-05-09-announcing-pypi-safety-and-security-engr-role.md
  docs/blog/posts/2023-05-23-removing-pgp.md
  docs/blog/posts/2023-05-24-pypi-was-subpoenaed.md
  docs/blog/posts/2023-05-25-securing-pypi-with-2fa.md
  docs/blog/posts/2023-05-26-reducing-stored-ip-data.md
  docs/blog/posts/2023-06-01-2fa-enforcement-for-upload.md
  docs/blog/posts/2023-06-22-malware-detection-project.md
  docs/blog/posts/2023-06-26-deprecate-egg-uploads.md
  docs/blog/posts/2023-08-04-pypi-hires-safety-engineer.md
  docs/blog/posts/2023-08-08-2fa-enforcement-for-new-users.md
  docs/blog/posts/2023-08-17-github-token-scanning-for-public-repos.md
  docs/blog/posts/2023-09-18-inbound-malware-reporting.md
  docs/blog/posts/2023-11-14-1-pypi-completes-first-security-audit.md
  docs/blog/posts/2023-11-14-2-security-audit-remediation-warehouse.md
  docs/blog/posts/2023-11-14-3-security-audit-remediation-cabotage.md
  docs/blog/posts/2023-12-04-account-takeover.md
  docs/blog/posts/2023-12-06-2fa-enforcement-on-testpypi.md
  docs/blog/stylesheets/extra.css
  docs/blog/tags.md
  docs/mkdocs-blog.yml
  requirements/docs-blog.in
  requirements/docs-blog.txt
Labels: blog

#15048 blog: fix paginated index page
  .readthedocs.yml
  docs/mkdocs-blog.yml
Labels: bug :bug:, blog

#15049 blog: update time format to compliant version
  docs/blog/posts/2023-05-26-reducing-stored-ip-data.md
  docs/blog/posts/2023-06-22-malware-detection-project.md
  docs/blog/posts/2023-11-14-1-pypi-completes-first-security-audit.md
  docs/blog/posts/2023-11-14-2-security-audit-remediation-warehouse.md
  docs/blog/posts/2023-11-14-3-security-audit-remediation-cabotage.md
  requirements/docs-blog.txt
  requirements/docs-user.txt
Labels: dependencies, blog

#15065 blog: 2fa for pypi
  docs/blog/posts/2023-12-13-2fa-enforcement.md
Labels: blog, 2FA

#15079 Add a section to the help covering TOTP device time being out of sync
  warehouse/locale/messages.pot
  warehouse/templates/pages/help.html
Labels: documentation

#15078 Show yanked reason on release page
  warehouse/locale/messages.pot
  warehouse/templates/packaging/detail.html
Labels: UX/UI, feature request

#15066 docs: update help language for 2fa
  warehouse/locale/messages.pot
  warehouse/templates/pages/help.html
Labels: documentation, 2FA
