Repository pypi/warehouse, pull requests merged in 2023-05, with the labels that each got.

#13549 feat(admin): add search syntax helper
  warehouse/admin/templates/admin/users/list.html
Labels: admin

#13539 refactor(admin): replace usage of clipboard.js
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/prohibited_project_names/confirm.html
Labels: javascript, HTML, admin

#13508 chore(deps): update dev deps to latest
  bin/static_lint
  package-lock.json
  package.json
Labels: javascript

#13537 docs: internal docs for trusted publishers
  docs/mkdocs-user-docs.yml
  docs/user/trusted-publishers/internals.md
Labels: documentation, trusted-publishing

#13541 warehouse, tests: handle malformed JWTs gracefully
  tests/unit/oidc/test_services.py
  warehouse/oidc/services.py
Labels: trusted-publishing

#13560 test: emit test durations
  pyproject.toml
Labels: testing, developer experience

#13559 oidc/models: add initial Google models
  tests/common/db/oidc.py
  tests/unit/oidc/models/test_core.py
  tests/unit/oidc/models/test_google.py
  warehouse/migrations/versions/fd0479fed881_google_oidc_models.py
  warehouse/oidc/models/__init__.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/google.py
Labels: trusted-publishing

#13565 chore(deps): remove clipboard, update remaining
  package-lock.json
  package.json
Labels: javascript, dependencies

#13564 fix: update source sans font to latest
  warehouse/static/sass/settings/_fonts.scss
  warehouse/templates/base.html
Labels: UX/UI

#13570 feat(dev): implement live reload
  dev/environment
  docker-compose.yml
  package-lock.json
  package.json
  tests/unit/test_config.py
  tests/unit/test_csp.py
  warehouse/admin/templates/admin/base.html
  warehouse/config.py
  warehouse/csp.py
  warehouse/locale/messages.pot
  warehouse/templates/base.html
  webpack.config.js
Labels: CSS/SCSS, developer experience, dependencies

#13591 feat(dev): add `make dbshell` target
  Dockerfile
  Makefile
Labels: developer experience

#13607 docs: Improve Trusted Publishers security section
  docs/user/trusted-publishers/index.md
Labels: documentation

#13648 fix: use correct URL link
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/releases.html
Labels: HTML, bug :bug:

#13657 feat(admin): display hashed value if possible
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#13667 Expand OIDC email template's publisher specifiers
  tests/unit/email/test_init.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/templates/email/trusted-publisher-added/body.html
  warehouse/templates/email/trusted-publisher-added/body.txt
  warehouse/templates/email/trusted-publisher-removed/body.html
  warehouse/templates/email/trusted-publisher-removed/body.txt
Labels: UX/UI, usability, trusted-publishing

#13668 Add OIDC claims to the `OIDCPublisher` caveat
  tests/unit/macaroons/test_caveats.py
  tests/unit/oidc/test_views.py
  warehouse/macaroons/caveats/__init__.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#13662 feat(admin): ip address management pane
  tests/common/db/ip_addresses.py
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_ipaddresses.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/ip_addresses/detail.html
  warehouse/admin/templates/admin/ip_addresses/list.html
  warehouse/admin/views/ip_addresses.py
  warehouse/ip_addresses/models.py
Labels: admin

#13701 dev-ux: don't start unecessary containers
  Makefile
  docker-compose.yml
Labels: developer experience

#13703 Filter maintainer's email when presenting project data
  tests/unit/test_filters.py
  warehouse/config.py
  warehouse/filters.py
  warehouse/templates/includes/packaging/project-data.html
Labels: UX/UI, HTML, python

#13704 chore(deps): update all npm packages
  package-lock.json
  package.json
  tests/frontend/localized_time_controller_test.js
  warehouse/static/js/warehouse/controllers/localized_time_controller.js
Labels: javascript, dependencies

#8323 Add minutes login block on message to users
  requirements/main.in
  requirements/main.txt
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
Labels: UX/UI

#13715 chore(dev): rebuild base image if dev deps change
  Makefile
Labels: developer experience

#13717 chore(dev): update stripe-mock to latest
  .github/workflows/ci.yml
  docker-compose.yml
Labels: developer experience

#13719 chore(dev): provide a `runmigrations` make target
  Makefile
  docs/dev/development/database-migrations.rst
Labels: developer experience

#13720 Document PyPI's protections against resurrection attacks
  docs/user/trusted-publishers/internals.md
  docs/user/trusted-publishers/security-model.md
Labels: documentation

#13736 Fix links in trusted publisher documentation
  docs/user/trusted-publishers/internals.md
  docs/user/trusted-publishers/security-model.md
Labels: documentation, trusted-publishing

#13753 trusted publishing: repo owner in emails
  tests/unit/email/test_init.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/templates/email/trusted-publisher-added/body.html
  warehouse/templates/email/trusted-publisher-added/body.txt
  warehouse/templates/email/trusted-publisher-removed/body.html
  warehouse/templates/email/trusted-publisher-removed/body.txt
Labels: trusted-publishing

#13787 Blog: Reducing Stored IP Data in PyPI
  docs/blog/posts/2023-05-26-reducing-stored-ip-data.md
Labels: blog

#13793 Enrich security history displays with User-Agent summary.
  tests/unit/events/test_models.py
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/events/models.py
  warehouse/locale/messages.pot
  warehouse/templates/manage/account.html
  warehouse/templates/manage/organization/history.html
  warehouse/templates/manage/project/history.html
  warehouse/templates/manage/team/history.html
Labels: UX/UI, HTML, security

#13794 chore(dev): use yaml anchors for volumes
  docker-compose.yml
Labels: developer experience

#13805 test: Factory.create() + range() => create_batch()
  tests/unit/admin/views/test_emails.py
  tests/unit/admin/views/test_journals.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/admin/views/test_prohibited_project_names.py
  tests/unit/admin/views/test_projects.py
  tests/unit/admin/views/test_sponsors.py
  tests/unit/admin/views/test_users.py
  tests/unit/api/test_simple.py
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_organizations.py
  tests/unit/manage/views/test_teams.py
  tests/unit/packaging/test_tasks.py
  tests/unit/search/test_tasks.py
  tests/unit/sponsors/test_init.py
  tests/unit/utils/db/test_windowed_query.py
Labels: testing

#13809 rename column headers to represent content
  warehouse/admin/templates/admin/ip_addresses/detail.html
  warehouse/admin/templates/admin/ip_addresses/list.html
Labels: HTML, admin

#13810 macaroons/caveats: document serialization limits
  warehouse/macaroons/caveats/__init__.py
Labels: documentation

#13802 feat: support username autocomplete in forms
  package-lock.json
  package.json
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_services.py
  tests/unit/accounts/test_views.py
  tests/unit/test_config.py
  tests/unit/test_routes.py
  warehouse/accounts/__init__.py
  warehouse/accounts/interfaces.py
  warehouse/accounts/services.py
  warehouse/accounts/views.py
  warehouse/config.py
  warehouse/locale/messages.pot
  warehouse/routes.py
  warehouse/static/js/warehouse/index.js
  warehouse/static/sass/blocks/_form-group.scss
  warehouse/templates/api/account_search.html
  warehouse/templates/manage/organization/roles.html
  warehouse/templates/manage/project/roles.html
Labels: UX/UI
