Repository pypi/warehouse, pull requests merged in 2023-10, with the labels that each got.

#14658 test: use `metrics` fixture when needed
  tests/conftest.py
  tests/unit/accounts/test_services.py
  tests/unit/accounts/test_views.py
  tests/unit/integration/github/test_utils.py
  tests/unit/integration/github/test_views.py
  tests/unit/integration/test_package.py
  tests/unit/integration/vulnerabilities/osv/test_package.py
  tests/unit/integration/vulnerabilities/osv/test_views.py
  tests/unit/integration/vulnerabilities/test_tasks.py
  tests/unit/legacy/api/xmlrpc/test_cache.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/test_services.py
Labels: testing, developer experience

#14659 Require 2FA to join project
  warehouse/locale/messages.pot
  warehouse/templates/accounts/invite-confirmation.html
Labels: UX/UI, HTML, 2FA

#14672 chore(deps): pin back urllib3 and types-requests
  requirements/lint.in
  requirements/lint.txt
  requirements/main.in
  warehouse/accounts/services.py
Labels: dependencies

#14688 lint: types updates
  pyproject.toml
  requirements/lint.in
  requirements/lint.txt
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
Labels: testing, developer experience

#14709 chore: strip out whitespace added by jinja blocks
  tests/unit/test_config.py
  warehouse/config.py
  warehouse/templates/robots.txt
Labels: HTML

#14657 feat: use trusted publishing to adapt UI
  tests/unit/packaging/test_models.py
  warehouse/admin/templates/admin/projects/release_detail.html
  warehouse/packaging/models.py
Labels: admin, trusted-publishing

#14734 chore(deps): update Python version
  .python-version
  Dockerfile
Labels: docker

#14748 feat(admin): make user activity more legible
  warehouse/admin/static/css/admin.scss
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/users/detail.html
Labels: javascript, HTML, CSS/SCSS, admin

#14756 fix: handle last_login date of null
  warehouse/email/__init__.py
Labels: bug :bug:

#14757 fix: account for user.last_login being null
  tests/unit/accounts/test_views.py
  warehouse/accounts/views.py
Labels: bug :bug:

#14747 chore(deps): update boto3 and botocore
  requirements/lint.txt
  requirements/main.txt
Labels: dependencies, python

#14788 refactor: replace backref with back_populates
  dev/flake8/checkers.py
  tests/unit/packaging/test_models.py
  tests/unit/packaging/test_tasks.py
  warehouse/accounts/models.py
  warehouse/email/ses/models.py
  warehouse/oidc/models/_core.py
  warehouse/organizations/models.py
  warehouse/packaging/models.py
Labels: bug :bug:, developer experience, data quality
