Repository pypi/warehouse, pull requests merged in 2024-05, with the labels that each got.

#15920 Use grouped version updates for Dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/combine-prs.yml
  .github/workflows/node-ci.yml
Labels: developer experience, dependencies

#15890 fix(blog): remove duplicate RSS feed and add JSON feed
  docs/blog/overrides/main.html
Labels: blog

#15932 Revert "Use grouped version updates for Dependabot (#15920)"
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/combine-prs.yml
  .github/workflows/node-ci.yml
Labels: dependencies

#15951 fix: disallow null bytes in name during register
  tests/unit/accounts/test_forms.py
  warehouse/accounts/forms.py
  warehouse/locale/messages.pot
Labels: bug :bug:

#15968 Update link to Chrome contrast tool at ui-principles.rst.
  docs/dev/ui-principles.rst
Labels: documentation, developer experience

#15960 fix: add hostname to URLs generated in email
  warehouse/locale/messages.pot
  warehouse/templates/email/api-token-used-in-trusted-publisher-project/body.html
  warehouse/templates/email/api-token-used-in-trusted-publisher-project/body.txt
Labels: bug :bug:, trusted-publishing, email
