Repository pypi/warehouse, pull requests merged in 2024-04, with the labels that each got.

#15700 chore(dev): revert localstack upgrade
  docker-compose.yml
Labels: bug :bug:, developer experience

#15688 refactor: apply 2FA to any non-exempt routes
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
  warehouse/locale/messages.pot
  warehouse/packaging/views.py
Labels: 2FA

#15689 Issue 15274: Use eslint stylistic
  Makefile
  package-lock.json
  package.json
Labels: javascript, developer experience

#15708 chore(deps): update b2sdk
  requirements/main.txt
  tests/unit/packaging/test_services.py
  warehouse/packaging/services.py
Labels: dependencies

#15701 feat: add captcha to login page
  tests/conftest.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/login.html
Labels: HTML, security

#15717 blog: incident report
  bin/rtd-docs
  docs/blog/posts/2024-04-03-user-account-access.md
Labels: blog

#15712 Update dev frontend docs to Docker-first approach (#15691)
  docs/dev/development/frontend.rst
Labels: documentation, developer experience

#15720 Reapply "feat: add captcha to login page (#15701)" (#15709)
  tests/conftest.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/login.html
Labels: security

#15731 Email block list: Handle subdomains and case sensitivity
  tests/unit/accounts/test_forms.py
  warehouse/accounts/forms.py
Labels: security

#15742 refactor: update windowed query
  tests/unit/search/test_tasks.py
  tests/unit/utils/db/test_windowed_query.py
  warehouse/search/tasks.py
  warehouse/utils/db/windowed_query.py
Labels: search

#15747 test: fix sort order
  tests/unit/search/test_tasks.py
Labels: testing

#15743 fix: allow projects with publishers to be removed
  tests/unit/packaging/test_models.py
  warehouse/migrations/versions/34c3175f4bea_remove_oidc_association_on_project_.py
  warehouse/oidc/models/_core.py
Labels: bug :bug:, trusted-publishing

#15750 blog: domain abuse report
  docs/blog/assets/2024-04-10-domain-abuse/screenshot-pypihosted.png
  docs/blog/assets/2024-04-10-domain-abuse/screenshot-pythanhosted.png
  docs/blog/posts/2024-04-10-domain-abuse.md
Labels: blog

#15759 feat: observation.additional for flexible data
  tests/unit/observations/test_tasks.py
  warehouse/migrations/versions/73c201ff90f3_add_additional_column_to_observations.py
  warehouse/observations/models.py
  warehouse/observations/tasks.py
Labels: malware-detection

#15767 chore: upgrade to latest python 3.11
  .python-version
  Dockerfile
Labels: dependencies, security

#15766 Insert missing space between two sentences
  warehouse/templates/manage/project/settings.html
Labels: HTML

#15768 feat: Observation.actions to capture activity
  tests/unit/admin/views/test_core.py
  warehouse/admin/views/core.py
  warehouse/migrations/versions/8673550a67a3_add_observation_actions.py
  warehouse/observations/models.py
Labels: malware-detection

#15782 fix: use instantiated MutableDict to track state
  warehouse/email/ses/models.py
  warehouse/observations/models.py
Labels: bug :bug:, malware-detection, data quality

#15796 Revert "Reapply "feat: add captcha to login page (#15701)" (#15709) (#15720)"
  tests/conftest.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/login.html
Labels: security

#15192 Document additional Trusted Publishers
  docs/blog/posts/2023-04-20-introducing-trusted-publishers.md
  docs/blog/posts/2024-04-17-expanding-trusted-publisher-support.md
  docs/mkdocs-user-docs.yml
  docs/user/assets/pending-publisher-form-filled.png
  docs/user/assets/pending-publisher-registered.png
  docs/user/assets/project-publisher-registered.png
  docs/user/assets/project-publishing-form.png
  docs/user/assets/trusted-publishing/activestate/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/activestate/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/activestate/project-publisher-registered.png
  docs/user/assets/trusted-publishing/activestate/project-publishing-form.png
  docs/user/assets/trusted-publishing/github/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/github/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/github/project-publisher-registered.png
  docs/user/assets/trusted-publishing/github/project-publishing-form.png
  docs/user/assets/trusted-publishing/github/required-reviewers.png
  docs/user/assets/trusted-publishing/gitlab/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/gitlab/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/gitlab/project-publisher-registered.png
  docs/user/assets/trusted-publishing/gitlab/project-publishing-form.png
  docs/user/assets/trusted-publishing/google/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/google/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/google/project-publisher-registered.png
  docs/user/assets/trusted-publishing/google/project-publishing-form.png
  docs/user/assets/trusted-publishing/manage-link.png
  docs/user/assets/trusted-publishing/project-publishing-link.png
  docs/user/assets/trusted-publishing/publishing-link.png
  docs/user/stylesheets/extra.css
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/using-a-publisher.md
  warehouse/locale/messages.pot
  warehouse/templates/manage/account/publishing.html
  warehouse/templates/manage/project/publishing.html
Labels: documentation, trusted-publishing

#15800 feat: preserve related_name on Observations
  tests/common/db/packaging.py
  warehouse/migrations/versions/c978a4eaa0f6_add_observation_related_name.py
  warehouse/observations/models.py
Labels: malware-detection

#15816 feat: keep Observations after related removed
  warehouse/migrations/versions/444353e3eca2_keep_observations_when_related_removed.py
  warehouse/observations/models.py
Labels: malware-detection

#15840 docs: self-managed GitLab instances are not supported (for Trusted Publishing)
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/troubleshooting.md
Labels: documentation
