Repository pypi/warehouse, pull requests merged in 2024-07, with the labels that each got.

#16197 oidc/services: fix mischaracterized error
  tests/unit/oidc/test_services.py
  warehouse/oidc/services.py
Labels: trusted-publishing

#16206 Parallelize the unit tests
  bin/tests
  docker-compose.yml
  pyproject.toml
  requirements/tests.in
  requirements/tests.txt
  sitecustomize.py
  tests/conftest.py
Labels: testing, developer experience

#16210 routes: update ToU route + test
  tests/unit/test_routes.py
  warehouse/routes.py
Labels: documentation

#16231 fix: use correct case for ToU link
  warehouse/locale/messages.pot
  warehouse/templates/base.html
  warehouse/templates/pages/sitemap.html
Labels: HTML, bug :bug:

#16232 Publish blog regarding leaked personal access token
  docs/blog/posts/2024-07-08-incident-report-leaked-admin-personal-access-token.md
Labels: blog

#16179 feat(admin): Project Quarantine
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_malware_reports.py
  tests/unit/admin/views/test_projects.py
  tests/unit/utils/test_project.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/templates/admin/malware_reports/project_list.html
  warehouse/admin/templates/admin/projects/delete.html
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/views/malware_reports.py
  warehouse/admin/views/projects.py
  warehouse/events/tags.py
  warehouse/migrations/versions/14ad61e054cf_add_project_lifecycle_status.py
  warehouse/migrations/versions/c978a4eaa0f6_add_observation_related_name.py
  warehouse/packaging/models.py
  warehouse/utils/project.py
Labels: HTML, admin, malware-detection

#16245 requirements: add pytest-sugar
  requirements/tests.in
  requirements/tests.txt
Labels: testing, developer experience

#16256 Dev sanity
  Makefile
  dev/db/docker-entrypoint-initdb.d/init-dbs.sh
  dev/db/post-migrations.sql
  docker-compose.yml
Labels: developer experience

#16257 remove duplicate call to post-migrations.sql in make resetdb
  Makefile
Labels: developer experience

#16258 help, settings: replace setup.py with pyproject.toml
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/settings.html
  warehouse/templates/pages/help.html
Labels: documentation

#16255 docs(dev): add more context around accounts and totp
  docs/dev/development/email.rst
  docs/dev/development/getting-started.rst
Labels: documentation, developer experience

#16259 docs/dev/application: document some more directories
  docs/dev/application.rst
Labels: documentation

#16263 add a make task for generating dev totp creds
  Dockerfile
  Makefile
  bin/devtotp
  dev/db/post-migrations.sql
  docs/dev/development/getting-started.rst
Labels: developer experience

#16275 Fix some places where we shouldn't have underlines
  warehouse/static/sass/blocks/_footer.scss
  warehouse/static/sass/tools/_design-utilities.scss
Labels: CSS/SCSS

#16284 misc: fix some sentry captures
  warehouse/forklift/legacy.py
  warehouse/oidc/services.py
  warehouse/oidc/views.py
Labels: developer experience

#16357 fix(admin): guard against rendering inspector link to non-existent project name field
  warehouse/admin/templates/admin/malware_reports/detail.html
Labels: HTML, bug :bug:, admin

#16264 feat: quarantine UI updates
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/manage_project_base.html
  warehouse/templates/packaging/detail.html
  warehouse/templates/pages/help.html
Labels: HTML, security

#16323 Makefile: optimize subset test runs
  Makefile
  docs/dev/development/getting-started.rst
Labels: testing, developer experience

#16265 feat: implement quarantined projects restrictions
  tests/unit/api/test_simple.py
  tests/unit/legacy/api/test_json.py
  tests/unit/packaging/test_models.py
  warehouse/legacy/api/json.py
  warehouse/packaging/models.py
  warehouse/packaging/utils.py
Labels: security, python

#16372 fix: add focus exclusion to textarea as well
  warehouse/static/js/warehouse/controllers/search_focus_controller.js
Labels: UX/UI, javascript
