Repository pypi/warehouse, pull requests merged in 2024-10, with the labels that each got.

#16818 chore(deps): update hiredis manually
  requirements/main.txt
Labels: dependencies

#16796 conftest: put transaction manager in its own fixture
  tests/conftest.py
Labels: testing

#16831 docs/dev: add destructive migration docs
  docs/dev/development/database-migrations.rst
Labels: documentation

#16893 fix: suppress more DNS errors
  tests/unit/manage/test_forms.py
  warehouse/accounts/forms.py
  warehouse/locale/messages.pot
Labels: bug :bug:

#16891 Update to Ubuntu 24.04 for readthedocs
  .readthedocs.yml
Labels: documentation

#16919 chore(deps): manually update dependabot-failing
  requirements/deploy.txt
  requirements/docs-blog.txt
  requirements/docs-dev.txt
  requirements/docs-user.txt
  requirements/main.txt
  requirements/tests.txt
Labels: dependencies

#16921 test/oidc: rename TestPublisher, mark as abstract
  tests/unit/oidc/models/test_core.py
Labels: testing, trusted-publishing

#16933 feat: add tags to conversations on removal
  tests/unit/admin/views/test_malware_reports.py
  tests/unit/helpdesk/test_services.py
  warehouse/admin/views/malware_reports.py
  warehouse/helpdesk/interfaces.py
  warehouse/helpdesk/services.py
Labels: admin, malware-detection

#16956 Guard our BigQuery release metadata sync against upcoming schema changes
  tests/unit/packaging/test_tasks.py
  warehouse/packaging/tasks.py
Labels: APIs/feeds

#16957 fix: retry token on error
  tests/unit/helpdesk/test_services.py
  warehouse/helpdesk/services.py
Labels: bug :bug:, admin

#16974 chore: address some nits and lints
  pyproject.toml
  tests/functional/manage/test_views.py
  warehouse/filters.py
  warehouse/integrations/vulnerabilities/__init__.py
  warehouse/logging.py
  warehouse/utils/sns.py
Labels: testing, developer experience

#16984 feat: reduce dev-time warnings with inheritance
  docs/dev/development/patterns.rst
  pyproject.toml
  requirements/main.txt
  tests/conftest.py
  warehouse/admin/services.py
  warehouse/events/models.py
  warehouse/packaging/services.py
  warehouse/utils/exceptions.py
Labels: testing, developer experience

#16996 chore(ci): address overly broad permissions scopes
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/combine-prs.yml
  .github/workflows/dev-env-test.yml
  .github/workflows/node-ci.yml
  .github/workflows/zizmor.yml
Labels: testing, security
