Repository pypi/warehouse, pull requests merged in 2024-09, with the labels that each got.

#16630 feat(dev): enable session panel in debug toolbar
  tests/unit/test_config.py
  warehouse/config.py
Labels: developer experience

#16633 Remove dep on types-boto3
  requirements/lint.in
  requirements/lint.txt
  requirements/main.txt
Labels: dependencies

#16641 Document upcoming XMLRPC deprecations
  docs/dev/api-reference/legacy.rst
  docs/dev/api-reference/xml-rpc.rst
Labels: documentation, APIs/feeds

#16644 docs: typos
  docs/dev/api-reference/legacy.rst
Labels: documentation

#16621 Update tests to use sysmon
  Makefile
  bin/tests
Labels: testing, developer experience

#16646 test: ensure links are created per-file
  tests/functional/api/test_simple.py
Labels: testing

#16652 remove documented but non-existent XMLRPC methods
  docs/dev/api-reference/xml-rpc.rst
Labels: documentation

#16663 fix: disallow urls in `full_name` during registration
  tests/unit/accounts/test_forms.py
  warehouse/accounts/forms.py
  warehouse/locale/messages.pot
Labels: bug :bug:

#16674 feat(admin): load recent journal entries for user
  tests/unit/admin/views/test_users.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
Labels: admin

#16675 feat(admin): make copying the input value simpler
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#16664 chore: remove obsolete csp header
  tests/unit/test_csp.py
  warehouse/csp.py
Labels: security

#16585 Add verification date to Verified Details section
  warehouse/locale/messages.pot
  warehouse/templates/includes/packaging/project-data.html
Labels: UX/UI

#16683 requirements: bump sigstore, pypi-attestations
  requirements/main.in
  requirements/main.txt
Labels: dependencies, python

#16685 fix: delete org apps for user
  warehouse/accounts/models.py
Labels: bug :bug:, admin, organizations

#16596 feat: check MX records against prohibited domains
  requirements/main.in
  requirements/main.txt
  tests/unit/accounts/test_forms.py
  tests/unit/manage/test_forms.py
  warehouse/accounts/forms.py
  warehouse/accounts/models.py
  warehouse/locale/messages.pot
  warehouse/migrations/versions/f204918656f1_add_prohibitedemaildomains_is_mx_record.py
Labels: security, malware-detection

#16699 chore(deps): upgrade cryptography to latest
  requirements/lint.txt
  requirements/main.in
  requirements/main.txt
Labels: dependencies, python

#16700 chore: update Python 3.12.6
  .python-version
  .readthedocs.yml
  Dockerfile
  tests/unit/rss/test_views.py
  warehouse/rss/views.py
Labels: dependencies

#16710 feat(admin): prohibited usernames list
  tests/common/db/accounts.py
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_prohibited_user_names.py
  tests/unit/admin/views/test_users.py
  tests/unit/packaging/test_models.py
  tests/unit/test_config.py
  warehouse/admin/routes.py
  warehouse/admin/static/js/treeview.js
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/prohibited_project_names/list.html
  warehouse/admin/templates/admin/prohibited_user_names/list.html
  warehouse/admin/views/prohibited_user_names.py
  warehouse/admin/views/users.py
  warehouse/authnz/_permissions.py
  warehouse/config.py
  warehouse/packaging/models.py
Labels: admin

#16562 refactor: replace integers with durations in seconds
  dev/flake8/checkers.py
  tests/unit/email/test_init.py
  tests/unit/manage/test_views.py
  tests/unit/test_sessions.py
  warehouse/accounts/views.py
  warehouse/admin/__init__.py
  warehouse/api/simple.py
  warehouse/config.py
  warehouse/integrations/github/utils.py
  warehouse/integrations/vulnerabilities/__init__.py
  warehouse/integrations/vulnerabilities/osv/__init__.py
  warehouse/legacy/api/json.py
  warehouse/legacy/api/xmlrpc/cache/__init__.py
  warehouse/legacy/api/xmlrpc/cache/services.py
  warehouse/legacy/api/xmlrpc/views.py
  warehouse/locale/messages.pot
  warehouse/manage/__init__.py
  warehouse/organizations/views.py
  warehouse/packaging/views.py
  warehouse/rss/views.py
  warehouse/search/tasks.py
  warehouse/sessions.py
  warehouse/sitemap/views.py
  warehouse/views.py
Labels: developer experience

#16723 fix: ensure the input to redis sessions is an integer
  warehouse/legacy/api/xmlrpc/views.py
  warehouse/sessions.py
Labels: bug :bug:

#16709 packaging: add initial hints to storage services
  warehouse/packaging/interfaces.py
  warehouse/packaging/services.py
Labels: developer experience

#16724 test(functional): log in, change password
  .github/workflows/ci.yml
  docker-compose.yml
  tests/common/db/accounts.py
  tests/conftest.py
  tests/functional/manage/test_views.py
Labels: testing

#16595 Documentation on how to implement a new service
  docker-compose.yml
  docs/dev/development/patterns.rst
Labels: documentation

#16765 feat: add notes to registration page
  warehouse/locale/messages.pot
  warehouse/templates/accounts/register.html
Labels: HTML

#16777 test_simple: fix accidentally skipped test
  tests/unit/api/test_simple.py
Labels: testing
