Repository pypi/warehouse, pull requests merged in 2024-12, with the labels that each got.

#16260 Trusted publishing: surface pending publisher name collisions
  tests/unit/accounts/test_views.py
  tests/unit/oidc/forms/test_activestate.py
  tests/unit/oidc/forms/test_github.py
  tests/unit/oidc/forms/test_gitlab.py
  tests/unit/oidc/forms/test_google.py
  tests/unit/packaging/test_services.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/migrations/versions/f7720656a33c_index_ultranormalized_pending_project_.py
  warehouse/oidc/forms/_core.py
  warehouse/oidc/forms/activestate.py
  warehouse/oidc/forms/github.py
  warehouse/oidc/forms/gitlab.py
  warehouse/oidc/forms/google.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/activestate.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
  warehouse/oidc/models/google.py
  warehouse/packaging/interfaces.py
  warehouse/packaging/services.py
  warehouse/templates/email/pending-trusted-publisher-invalidated/body.html
  warehouse/templates/email/pending-trusted-publisher-invalidated/body.txt
Labels: trusted-publishing

#16262 Improve GitLab projects name verification
  tests/unit/oidc/forms/test_gitlab.py
  warehouse/locale/messages.pot
  warehouse/oidc/forms/gitlab.py
Labels: trusted-publishing

#17204 Drop version from search results
  tests/unit/packaging/test_search.py
  tests/unit/search/test_tasks.py
  warehouse/locale/messages.pot
  warehouse/packaging/search.py
  warehouse/search/tasks.py
  warehouse/templates/search/results.html
Labels: UX/UI, HTML, search

#17194 chore: add more editorconfigs
  .editorconfig
  warehouse/locale/.editorconfig
Labels: developer experience

#17178 docs: migrate JSON API docs to user-docs
  docs/dev/api-reference/json.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/index.md
  docs/user/api/json.md
  docs/user/project_metadata.md
Labels: documentation

#17211 docs: update API links everywhere
  docs/blog/posts/2023-05-24-pypi-was-subpoenaed.md
  docs/dev/application.rst
  docs/dev/security/index.rst
  docs/user/attestations/producing-attestations.md
  warehouse/api/README.md
  warehouse/templates/pages/help.html
  warehouse/templates/pages/security-key-giveaway.html
  warehouse/templates/pages/stats.html
Labels: documentation

#17212 docs: remove user-api-docs flash
  docs/user/api/index.md
  docs/user/api/integrity.md
  docs/user/main.py
Labels: documentation

#17236 User-facing docs for secret disclosure API
  docs/dev/development/token-scanning.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/secrets.md
Labels: documentation

#17237 fix: create a parent for column grids
  warehouse/locale/messages.pot
  warehouse/static/sass/layout-helpers/_columns.scss
  warehouse/templates/manage/account/recovery_codes-burn.html
  warehouse/templates/manage/account/recovery_codes-provision.html
Labels: HTML, CSS/SCSS

#17232 Don't install deploy dependencies for tests
  pyproject.toml
Labels: testing, developer experience

#17266 New blog: Supply-chain attack analysis: Ultralytics
  docs/blog/.authors.yml
  docs/blog/posts/2024-12-11-ultralytics-attack-analysis.md
Labels: blog

#17269 perf: speed up user profile page
  tests/unit/accounts/test_views.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/profile.html
Labels: HTML, bug :bug:

#17270 fix: exclude projects with no releases
  tests/unit/accounts/test_views.py
  warehouse/accounts/views.py
Labels: bug :bug:

#17267 docs: use Trusted Publishing uniformly as a term of art
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/index.md
  docs/user/trusted-publishers/internals.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/troubleshooting.md
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation

#17277 feat: add a favicon route on the root
  tests/unit/test_routes.py
  tests/unit/test_views.py
  warehouse/locale/messages.pot
  warehouse/routes.py
  warehouse/views.py
Labels: feature request

#17280 requirements: drop direct pycurl dep
  requirements/main.in
  requirements/main.txt
Labels: dependencies

#17283 Delete BrowserStack references and logo image
  README.rst
  docs/dev/_static/browserstack-logo.png
Labels: documentation

#17306 chore(deps): manually update dependencies
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docs-dev.txt
  requirements/lint.txt
  requirements/main.in
  requirements/main.txt
Labels: dependencies, python

#17326 Add Korean locale to languages
  warehouse/i18n/__init__.py
Labels: i18n

#17324 feat: add owner details to observation reports
  tests/unit/observations/test_tasks.py
  warehouse/observations/tasks.py
Labels: admin

#17338 fix: use correct host in URL construction
  warehouse/observations/tasks.py
Labels: bug :bug:
