Repository pypi/warehouse, pull requests merged in 2024-03, with the labels that each got.

#15538 feat: report malware via web
  tests/unit/packaging/test_forms.py
  tests/unit/packaging/test_models.py
  tests/unit/packaging/test_views.py
  tests/unit/test_routes.py
  warehouse/authnz/_permissions.py
  warehouse/locale/messages.pot
  warehouse/packaging/forms.py
  warehouse/packaging/models.py
  warehouse/packaging/views.py
  warehouse/routes.py
  warehouse/static/sass/blocks/_button.scss
  warehouse/templates/includes/packaging/submit-malware-report.html
  warehouse/templates/packaging/detail.html
  warehouse/templates/packaging/submit-malware-observation.html
  warehouse/templates/pages/security.html
Labels: HTML, security, malware-detection

#15542 blog: new malware reporting
  docs/blog/assets/2024-03-06-report-project-as-malware-button.png
  docs/blog/posts/2024-03-06-malware-reporting-evolved.md
Labels: security, blog

#15551 fix: use correct key name for inspector
  warehouse/packaging/views.py
Labels: admin

#15580 hide RTD flyout
  docs/blog/stylesheets/extra.css
  docs/dev/_static/css/extra.css
  docs/dev/conf.py
  docs/user/stylesheets/extra.css
Labels: documentation

#15582 Time out after 15 minutes if our test suite has gotten hung
  .github/workflows/ci.yml
Labels: testing

#15593 chore: use keyword arguments for DatabaseJanitor
  tests/conftest.py
Labels: testing

#15594 Address pyramid deprecation warnings
  tests/unit/packaging/test_models.py
  warehouse/packaging/models.py
Labels: testing

#15608 chore:(deps): npm update
  docker-compose.yml
  package-lock.json
Labels: javascript, dependencies

#15625 Bump packaging from 23.2 to 24.0
  requirements/deploy.txt
  requirements/docs-blog.txt
  requirements/docs-dev.txt
  requirements/docs-user.txt
  requirements/lint.txt
  requirements/main.txt
  requirements/tests.txt
Labels: dependencies

#15632 Remove depot/setup-action with.oidc
  .github/workflows/ci.yml
Labels: testing, developer experience

#15633 feat(dev): enable setting log level from envvar
  warehouse/config.py
Labels: developer experience

#15548 Add activestate OIDC docs
  docs/user/assets/trusted-publishing/activestate/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/activestate/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/activestate/project-publisher-registered.png
  docs/user/assets/trusted-publishing/activestate/project-publishing-form.png
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/using-a-publisher.md
  warehouse/locale/messages.pot
  warehouse/templates/manage/account/publishing.html
  warehouse/templates/manage/project/publishing.html
Labels: documentation, trusted-publishing

#15553 feat(deps): include pyramid_openapi3
  docker-compose.yml
  requirements/main.in
  requirements/main.txt
  tests/unit/api/test_config.py
  tests/unit/api/test_echo.py
  tests/unit/test_config.py
  warehouse/api/config.py
  warehouse/api/echo.py
  warehouse/api/openapi.yaml
  warehouse/config.py
  warehouse/csp.py
  warehouse/views.py
Labels: APIs/feeds

#15656 Add blogpost announcing more trusted publishers
  docs/blog/posts/2023-04-20-introducing-trusted-publishers.md
  docs/blog/posts/2024-04-20-expanding-trusted-publisher-support.md
Labels: blog

#15664 feat(dev): add command to generate some observations
  warehouse/cli/observations.py
Labels: developer experience

#15687 feat(admin): Add a Malware-specific UI
  tests/common/db/packaging.py
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_core.py
  tests/unit/admin/views/test_malware_reports.py
  tests/unit/test_csp.py
  warehouse/admin/routes.py
  warehouse/admin/static/css/admin.scss
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/dashboard.html
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/templates/admin/malware_reports/list.html
  warehouse/admin/views/core.py
  warehouse/admin/views/malware_reports.py
  warehouse/cli/observations.py
  warehouse/csp.py
Labels: admin, malware-detection
