Repository pypi/warehouse, pull requests merged in 2024-06, with the labels that each got.

#16047 admin: malware refactor and small features
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/views/prohibited_project_names.py
  warehouse/utils/project.py
Labels: admin, malware-detection

#16061 feat(admin): views for per-project malware reports with verdicts
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_malware_reports.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/templates/admin/malware_reports/list.html
  warehouse/admin/templates/admin/malware_reports/project_list.html
  warehouse/admin/views/malware_reports.py
Labels: admin, malware-detection

#16103 fix admin add/remove role
  tests/unit/admin/views/test_projects.py
  warehouse/admin/views/projects.py
Labels: bug :bug:, admin

#16104 upgrade node deps
  package-lock.json
  package.json
  warehouse/static/sass/blocks/_author-profile.scss
  warehouse/static/sass/blocks/_footer.scss
  warehouse/static/sass/blocks/_homepage-banner.scss
  warehouse/static/sass/blocks/_sponsorship-benefits.scss
  warehouse/static/sass/blocks/_twofa-login.scss
Labels: javascript, dependencies

#16125 feat(admin): create more links for malware reports
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/templates/admin/malware_reports/project_list.html
  warehouse/admin/templates/admin/projects/detail.html
Labels: admin, malware-detection

#16130 Clarify that GitHub is not the sole Identity Provider
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation

#16137 fix: use string interpolation for redirect
  tests/unit/test_routes.py
  warehouse/routes.py
Labels: bug :bug:

#16158 docs, warehouse: improve "pending" publisher docs, messages
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  warehouse/locale/messages.pot
  warehouse/templates/email/pending-trusted-publisher-invalidated/body.html
  warehouse/templates/email/pending-trusted-publisher-invalidated/body.txt
  warehouse/templates/email/pending-trusted-publisher-invalidated/subject.txt
  warehouse/templates/manage/account/publishing.html
Labels: documentation

#16185 chore(dev): upgrade localstack image
  docker-compose.yml
Labels: developer experience, dependencies
