Repository pypi/warehouse, pull requests merged in 2024-01, with the labels that each got.

#15093 docs: update help text to point to pypi blog
  warehouse/locale/messages.pot
  warehouse/templates/pages/help.html
Labels: documentation

#15127 blog: 2fa enforced
  docs/blog/assets/2024-01-01-two-factor-emails-scheduled.png
  docs/blog/posts/2024-01-01-2fa-enforced.md
  docs/mkdocs-blog.yml
Labels: blog, 2FA

#15130 warehouse/help: fixup API token guidance
  warehouse/locale/messages.pot
  warehouse/templates/pages/help.html
Labels: documentation

#15132 chore: return message on basic auth usage
  tests/unit/accounts/test_core.py
  warehouse/accounts/security_policy.py
Labels: 2FA

#15137 refactor: make captcha a real service
  dev/environment
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_views.py
  tests/unit/captcha/__init__.py
  tests/unit/captcha/test_init.py
  tests/unit/captcha/test_recaptcha.py
  tests/unit/test_config.py
  warehouse/accounts/forms.py
  warehouse/accounts/views.py
  warehouse/captcha/__init__.py
  warehouse/captcha/interfaces.py
  warehouse/captcha/recaptcha.py
  warehouse/config.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/register.html
  warehouse/templates/includes/input-captcha.html
Labels: security

#15020 Always remove pending publishers when project is created
  tests/unit/manage/views/test_organizations.py
  tests/unit/oidc/test_views.py
  warehouse/oidc/views.py
  warehouse/packaging/services.py
Labels: trusted-publishing

#15142 chore: remove 2fa conditionals
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
  warehouse/admin/flags.py
Labels: 2FA

#15143 Genericize OIDC templates, forms and views
  tests/frontend/horizontal_tabs_controller_test.js
  tests/unit/accounts/test_views.py
  tests/unit/manage/test_views.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/oidc/forms/__init__.py
  warehouse/oidc/forms/_core.py
  warehouse/oidc/forms/github.py
  warehouse/static/js/warehouse/controllers/horizontal_tabs_controller.js
  warehouse/templates/manage/account/publishing.html
  warehouse/templates/manage/manage_base.html
  warehouse/templates/manage/project/publishing.html
Labels: trusted-publishing

#15166 fix: use dash instead of underscore
  tests/unit/captcha/test_hcaptcha.py
  warehouse/captcha/hcaptcha.py
Labels: bug :bug:

#15148 Refactor OIDC mint token endpoint (cont. #14063)
  tests/conftest.py
  tests/unit/oidc/test_utils.py
  tests/unit/oidc/test_views.py
  warehouse/oidc/__init__.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/services.py
  warehouse/oidc/utils.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#15173 docs: add per-publisher content tabs
  docs/mkdocs-user-docs.yml
  docs/user/assets/pending-publisher-form.png
  docs/user/assets/project-publishing.png
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation, trusted-publishing

#15180 docs/user: update OIDC minting endpoint
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation, trusted-publishing

#15182 chore: remove most of basic auth code
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_security_policy.py
  warehouse/accounts/security_policy.py
  warehouse/errors.py
Labels: security

#15197 Don't require the `nbf` claim
  tests/unit/oidc/test_services.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/services.py
Labels: trusted-publishing

#15235 fix: use correct constraint on Observations
  warehouse/migrations/versions/812e14a4cddf_cascade_observation_delete.py
  warehouse/observations/models.py
Labels: bug :bug:

#15225 Miscellaneous OIDC fixes (from #15207)
  tests/unit/forklift/test_legacy.py
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_google.py
  tests/unit/packaging/test_models.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/activestate.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/google.py
  warehouse/oidc/views.py
  warehouse/packaging/models.py
  warehouse/templates/manage/project/history.html
Labels: trusted-publishing

#15208 Update trusted publishing docs for 2FA enforcement
  docs/user/trusted-publishers/index.md
Labels: documentation, trusted-publishing

#15295 fix: add project limits setting
  tests/unit/packaging/test_models.py
  tests/unit/test_config.py
  warehouse/admin/views/projects.py
  warehouse/authnz/_permissions.py
  warehouse/config.py
  warehouse/packaging/models.py
Labels: admin, security

#15265 docs, tests, warehouse: update PPUG links
  docs/dev/api-reference/legacy.rst
  docs/dev/development/reviewing-patches.rst
  tests/frontend/dismissable_controller_test.js
  warehouse/templates/manage/project/release.html
  warehouse/templates/manage/project/releases.html
  warehouse/templates/manage/project/settings.html
  warehouse/templates/pages/classifiers.html
  warehouse/templates/pages/help.html
Labels: HTML, documentation

#15296 fix: add GH unchecked claim
  tests/unit/oidc/models/test_github.py
  warehouse/oidc/models/github.py
Labels: bug :bug:, trusted-publishing

#15273 Fix dev docs instructions on how to build docs
  docs/dev/development/getting-started.rst
  docs/dev/development/submitting-patches.rst
Labels: documentation

#15242 Record the attached caveats during Macaroon creation
  tests/unit/macaroons/test_models.py
  warehouse/macaroons/caveats/__init__.py
  warehouse/macaroons/caveats/_core.py
  warehouse/macaroons/models.py
  warehouse/macaroons/services.py
  warehouse/migrations/versions/be62a4cd76e3_add_a_column_to_store_the_entire_set_of_.py
Labels: tokens, data quality

#15228 feat: working POST API for Project Observations
  dev/environment
  tests/unit/accounts/test_models.py
  tests/unit/accounts/test_security_policy.py
  tests/unit/api/test_echo.py
  tests/unit/observations/test_tasks.py
  tests/unit/packaging/test_models.py
  tests/unit/test_config.py
  tests/unit/test_routes.py
  tests/unit/test_views.py
  warehouse/accounts/models.py
  warehouse/accounts/security_policy.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
  warehouse/api/README.md
  warehouse/api/echo.py
  warehouse/authnz/_permissions.py
  warehouse/config.py
  warehouse/locale/messages.pot
  warehouse/macaroons/security_policy.py
  warehouse/observations/tasks.py
  warehouse/packaging/models.py
  warehouse/routes.py
  warehouse/views.py
Labels: APIs/feeds
