Repository pypi/warehouse, pull requests merged in 2024-11, with the labels that each got.

#17014 refactor: use `more_itertools.first_true()`
  requirements/main.in
  requirements/main.txt
  tests/unit/search/test_tasks.py
  warehouse/accounts/views.py
  warehouse/email/__init__.py
  warehouse/rate_limiting/__init__.py
Labels: dependencies

#17035 chore: allow one retry for search timeouts
  tests/unit/search/test_init.py
  warehouse/search/__init__.py
Labels: search

#17036 Use `(test)pypi` in Trusted Publishing placeholder for GitHub Environments
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/internals.md
  docs/user/trusted-publishers/using-a-publisher.md
  warehouse/locale/messages.pot
  warehouse/templates/manage/account/publishing.html
Labels: translation, trusted-publishing

#17051 dev/db: add some provenance fixtures to the dev DB
  dev/db/post-migrations.sql
Labels: developer experience

#17066 feat(db): pass flag to emit migration as SQL
  tests/unit/cli/test_db.py
  warehouse/cli/db/upgrade.py
  warehouse/migrations/env.py
Labels: developer experience

#17091 user-docs: add section on trustworthiness
  docs/user/attestations/security-model.md
Labels: documentation

#17104 add License-Files and License-Expression metadata to release admin view
  warehouse/admin/templates/admin/projects/release_detail.html
Labels: HTML, admin

#17094 lint: modernize usage of babel
  .babelrc
  Dockerfile
  Makefile
  babel.config.js
  docker-compose.yml
  package-lock.json
  package.json
  tests/frontend/github_repo_info_controller_test.js
  tests/frontend/password_strength_gauge_controller_test.js
  warehouse/static/js/warehouse/controllers/github_repo_stats_controller.js
  warehouse/static/js/warehouse/controllers/gitlab_repo_stats_controller.js
  warehouse/static/js/warehouse/controllers/localized_time_controller.js
  warehouse/static/js/warehouse/controllers/password_breach_controller.js
  warehouse/static/js/warehouse/utils/forms.js
  warehouse/static/js/warehouse/utils/webauthn.js
Labels: javascript, dependencies

#17109 feat(admin): freeze on quarantine, add user observation on removal
  tests/unit/admin/views/test_malware_reports.py
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/templates/admin/malware_reports/project_list.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/malware_reports.py
  warehouse/observations/models.py
  warehouse/utils/project.py
Labels: admin, malware-detection

#17124 add a helper to project admin include for ultranormalization collisions
  tests/unit/admin/views/test_includes.py
  warehouse/admin/views/includes.py
  warehouse/templates/includes/admin/administer-project-include.html
Labels: admin

#17133 Add documentation for PEP-740 attestations using GitLab CI/CD
  docs/user/attestations/producing-attestations.md
Labels: documentation

#17137 user-docs: mention OIDC discovery
  docs/user/trusted-publishers/internals.md
Labels: documentation, trusted-publishing

#17123 docs: migrate index/upload API docs to user docs
  docs/dev/api-reference/feeds.rst
  docs/dev/api-reference/legacy.rst
  docs/dev/application.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/index-api.md
  docs/user/api/upload.md
Labels: documentation

#17135 feat(admin): update all open malware reports on removal
  tests/unit/admin/views/test_malware_reports.py
  warehouse/admin/views/malware_reports.py
Labels: admin, malware-detection

#17147 fix: prevent html tags from input
  requirements/main.in
  requirements/main.txt
  tests/unit/packaging/test_forms.py
  tests/unit/test_forms.py
  warehouse/forms.py
  warehouse/locale/messages.pot
  warehouse/packaging/forms.py
Labels: security, malware-detection

#17154 Fix URL verification for GitHub/GitLab
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
Labels: trusted-publishing

#17161 docs: move stats API to user docs
  docs/dev/api-reference/stats.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/stats.md
Labels: documentation

#17162 docs: move BigQuery to user docs
  docs/dev/api-reference/bigquery-datasets.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/bigquery.md
  docs/user/api/index.md
Labels: documentation

#17164 docs: add Prerequisites section to attestations
  docs/user/attestations/producing-attestations.md
Labels: documentation

#17163 docs(attestations): fix example for GitLab CI/CD
  docs/user/attestations/producing-attestations.md
Labels: documentation

#17166 blog: attack analysis
  docs/blog/assets/2024-11-25-aiocpa-github-screenshot.png
  docs/blog/posts/2024-11-25-aiocpa-attack-analysis.md
Labels: blog

#17171 docs: migrate RSS Feed docs to user docs
  docs/dev/api-reference/feeds.rst
  docs/dev/api-reference/xml-rpc.rst
  docs/mkdocs-user-docs.yml
  docs/user/api/feeds.md
Labels: documentation

#17173 docs: move integration guide to user-docs
  docs/dev/api-reference/integration-guide.rst
  docs/user/api/index.md
Labels: documentation
