Repository pypi/warehouse, pull requests merged in 2024-02, with the labels that each got.

#15313 fix: sort applications by name
  warehouse/organizations/services.py
Labels: testing, developer experience

#15332 feat(admin): update UI for macaroon caveats
  tests/unit/integration/github/test_utils.py
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/macaroons/detail.html
  warehouse/admin/templates/admin/users/detail.html
  warehouse/integrations/github/utils.py
  warehouse/macaroons/models.py
Labels: javascript, HTML, admin

#15320 feat(admin): display observations in aggregate
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_observations.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/observations/list.html
  warehouse/admin/views/observations.py
Labels: admin

#15343 test: randomize test order every run
  docs/dev/development/getting-started.rst
  requirements/tests.in
  requirements/tests.txt
  tests/unit/captcha/test_recaptcha.py
  tests/unit/packaging/test_models.py
  tests/unit/packaging/test_tasks.py
Labels: testing

#15168 OIDC active state form
  tests/unit/accounts/test_views.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/forms/test_activestate.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/oidc/forms/__init__.py
  warehouse/oidc/forms/activestate.py
  warehouse/oidc/views.py
  warehouse/templates/email/trusted-publisher-added/body.html
  warehouse/templates/email/trusted-publisher-added/body.txt
  warehouse/templates/email/trusted-publisher-removed/body.html
  warehouse/templates/email/trusted-publisher-removed/body.txt
  warehouse/templates/manage/account/publishing.html
  warehouse/templates/manage/manage_base.html
  warehouse/templates/manage/project/publishing.html
Labels: trusted-publishing

#15357 feat(admin): add button for dependency confusion
  warehouse/static/sass/blocks/_button.scss
  warehouse/templates/includes/admin/administer-project-include.html
Labels: HTML, CSS/SCSS, admin

#15115 Add yank reason to release history page
  tests/unit/packaging/test_views.py
  warehouse/locale/messages.pot
  warehouse/packaging/models.py
  warehouse/static/sass/blocks/_release.scss
  warehouse/templates/packaging/detail.html
Labels: UX/UI, HTML

#15366 oidc/forms: improve project exists error
  warehouse/locale/messages.pot
  warehouse/oidc/forms/_core.py
Labels: trusted-publishing

#15204 OIDC ActiveState token handler
  tests/conftest.py
  tests/unit/oidc/test_services.py
  tests/unit/oidc/test_utils.py
  tests/unit/oidc/test_views.py
  warehouse/oidc/__init__.py
  warehouse/oidc/utils.py
Labels: trusted-publishing

#15365 tests: run postgres via pytest
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  bin/tests
  docker-compose.yml
  pyproject.toml
  tests/conftest.py
Labels: testing, developer experience

#15405 chore: move more caches to dev/
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docker-compose.yml
  pyproject.toml
Labels: developer experience

#15407 also handle pip cache
  .gitignore
  Makefile
  docker-compose.yml
Labels: developer experience

#15408 Nitpick and cleanups
  bin/tests
  pyproject.toml
  warehouse/accounts/views.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/observations/tasks.py
Labels: testing, developer experience

#15433 refactor: replace strings with permissions
  tests/unit/manage/views/test_organizations.py
  tests/unit/organizations/test_models.py
  warehouse/authnz/_permissions.py
  warehouse/manage/views/organizations.py
  warehouse/manage/views/teams.py
  warehouse/mock/billing.py
  warehouse/organizations/models.py
  warehouse/templates/includes/manage/manage-organization-menu.html
  warehouse/templates/includes/manage/manage-team-menu.html
  warehouse/templates/manage/organization/projects.html
  warehouse/templates/manage/organization/roles.html
  warehouse/templates/manage/organization/settings.html
  warehouse/templates/manage/organization/teams.html
  warehouse/templates/manage/team/roles.html
  warehouse/templates/manage/team/settings.html
Labels: security

#15444 Revert "tests: run postgres via pytest (#15365)"
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  bin/tests
  docker-compose.yml
  pyproject.toml
  tests/conftest.py
Labels: testing

#15275 Initial implementation of GitLab OIDC trusted publisher
  tests/common/db/oidc.py
  tests/unit/accounts/test_views.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/forms/test_gitlab.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/test_utils.py
  tests/unit/oidc/test_views.py
  warehouse/accounts/views.py
  warehouse/admin/flags.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/migrations/versions/81f9f9a60270_add_gitlab_oidc_models.py
  warehouse/oidc/__init__.py
  warehouse/oidc/forms/__init__.py
  warehouse/oidc/forms/gitlab.py
  warehouse/oidc/models/__init__.py
  warehouse/oidc/models/gitlab.py
  warehouse/oidc/utils.py
  warehouse/templates/manage/account/publishing.html
  warehouse/templates/manage/manage_base.html
  warehouse/templates/manage/project/publishing.html
Labels: trusted-publishing

#15465 refactor: replace `upload` with Permission
  tests/unit/macaroons/test_security_policy.py
  tests/unit/packaging/test_models.py
  warehouse/authnz/_permissions.py
  warehouse/forklift/legacy.py
  warehouse/macaroons/security_policy.py
  warehouse/packaging/models.py
Labels: security

#15283 Add GitLab Trusted Publishing docs
  docs/user/assets/trusted-publishing/gitlab/pending-publisher-form-filled.png
  docs/user/assets/trusted-publishing/gitlab/pending-publisher-registered.png
  docs/user/assets/trusted-publishing/gitlab/project-publisher-registered.png
  docs/user/assets/trusted-publishing/gitlab/project-publishing-form.png
  docs/user/trusted-publishers/adding-a-publisher.md
  docs/user/trusted-publishers/creating-a-project-through-oidc.md
  docs/user/trusted-publishers/security-model.md
  docs/user/trusted-publishers/using-a-publisher.md
Labels: documentation, trusted-publishing

#15463 Add daily task to purge expired OIDC macaroons
  tests/unit/oidc/test_tasks.py
  warehouse/oidc/__init__.py
  warehouse/oidc/tasks.py
Labels: tokens, trusted-publishing

#15469 tests: address randomness-related failures
  tests/common/db/packaging.py
  tests/unit/admin/views/test_projects.py
  tests/unit/api/test_simple.py
Labels: testing

#15486 test: set the correct module overrides
  tests/unit/cli/test_shell.py
Labels: testing

#15499 test: update postgres server version
  .github/workflows/ci.yml
  docker-compose.yml
  tests/conftest.py
Labels: testing

#15502 Fix failing organizations test
  tests/unit/manage/views/test_organizations.py
Labels: testing

#15501 oidc/github: make repo comparison insensitive
  tests/unit/oidc/models/test_github.py
  warehouse/oidc/models/github.py
Labels: trusted-publishing

#15512 oidc/gitlab: make project path comparison case insensitive
  tests/unit/oidc/models/test_gitlab.py
  warehouse/oidc/models/gitlab.py
Labels: trusted-publishing
