Repository pypi/warehouse, pull requests merged in 2024-08, with the labels that each got.

#16374 feat(admin): show password disabled status
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#16365 chore: enforce 2fa for legacy uploaders
  tests/common/db/accounts.py
  tests/unit/email/test_init.py
  tests/unit/forklift/test_legacy.py
  warehouse/email/__init__.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/templates/email/two-factor-not-yet-enabled/body.html
  warehouse/templates/email/two-factor-not-yet-enabled/body.txt
  warehouse/templates/email/two-factor-not-yet-enabled/subject.txt
Labels: security, 2FA, email

#16377 fix: retry hcaptcha on timeouts
  tests/unit/captcha/test_hcaptcha.py
  warehouse/captcha/hcaptcha.py
Labels: bug :bug:

#16384 Disable fsync in test postgres
  .github/workflows/ci.yml
  docker-compose.yml
Labels: testing, developer experience

#16400 feat: add origin to API-submitted payloads
  warehouse/api/echo.py
Labels: APIs/feeds, malware-detection

#16415 Clarify account recovery help to include verification issues
  warehouse/locale/messages.pot
  warehouse/templates/manage/manage_base.html
  warehouse/templates/pages/help.html
Labels: UX/UI, HTML

#16413 feat: append task name to SQS Message
  requirements/main.in
  requirements/main.txt
  tests/unit/test_tasks.py
  warehouse/tasks.py
Labels: email

#16431 Replace doc8 with sphinx-lint
  bin/lint
  docs/dev/api-reference/xml-rpc.rst
  docs/dev/development/email.rst
  docs/dev/development/getting-started.rst
  docs/dev/development/legacy-application-structure.rst
  docs/dev/development/submitting-patches.rst
  docs/dev/development/token-scanning.rst
  requirements/lint.in
  requirements/lint.txt
Labels: documentation, developer experience, dependencies

#16432 feat: add admin malware URL to helpscout message
  tests/unit/observations/test_tasks.py
  warehouse/observations/tasks.py
Labels: admin, malware-detection

#16436 fix(admin): use correct route method
  tests/unit/observations/test_tasks.py
  warehouse/observations/tasks.py
Labels: bug :bug:, admin

#16295 Speed up `make tests`
  bin/tests
  pyproject.toml
Labels: testing, developer experience

#15746 docs(dev): add copy button for code blocks
  docs/dev/conf.py
  docs/dev/development/database-migrations.rst
  docs/dev/development/development-database.rst
  docs/dev/development/frontend.rst
  docs/dev/development/patterns.rst
  requirements/docs-dev.in
  requirements/docs-dev.txt
Labels: documentation, developer experience

#16447 fix(dev): restore default behavior of debugtoolbar
  docker-compose.override.yaml-sample
  docker-compose.yml
Labels: bug :bug:, developer experience

#13001 feat: introduce Release.keywords_array
  tests/unit/utils/test_release.py
  warehouse/forklift/legacy.py
  warehouse/migrations/versions/208d494aac68_add_release_keywords_array_column.py
  warehouse/packaging/models.py
  warehouse/utils/release.py
Labels: search

#16450 fix: use output from packaging.metadata parsed
  tests/unit/forklift/test_legacy.py
  tests/unit/utils/test_release.py
  warehouse/forklift/legacy.py
  warehouse/utils/release.py
Labels: bug :bug:

#16254 Trusted publishing: prevent OIDC credential re-use
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/models/test_core.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/models/test_google.py
  tests/unit/oidc/test_services.py
  tests/unit/oidc/test_views.py
  warehouse/oidc/errors.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/activestate.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
  warehouse/oidc/models/google.py
  warehouse/oidc/services.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#16463 fix(admin): need to pass host for background tasks
  tests/unit/observations/test_tasks.py
  warehouse/observations/tasks.py
Labels: bug :bug:, admin

#16464 fix(admin): disable account recovery if user frozen
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#16205 Verify release URLs using Trusted Publisher information
  tests/unit/forklift/test_legacy.py
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/models/test_google.py
  warehouse/forklift/legacy.py
  warehouse/migrations/versions/26455e3712a2_create_verified_field_for_releaseurl.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/activestate.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
  warehouse/oidc/models/google.py
  warehouse/packaging/models.py
Labels: trusted-publishing

#16399 Support pre-filling Trusted Publisher form via URL params
  tests/unit/manage/test_views.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/static/js/warehouse/controllers/horizontal_tabs_controller.js
  warehouse/templates/manage/project/publishing.html
Labels: trusted-publishing

#16473 Move URLs to top of verified section
  warehouse/locale/messages.pot
  warehouse/templates/includes/packaging/project-data.html
Labels: UX/UI

#16462 GitHub, GitLab: improve claim matching during lookup
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
Labels: trusted-publishing

#16483 feat(dev): alembic check
  .github/workflows/ci.yml
  Makefile
  bin/db-check
  tests/unit/cli/test_db.py
  warehouse/cli/db/check.py
Labels: testing, developer experience

#16485 Verify URLs that link to the project page on PyPI
  tests/unit/forklift/test_legacy.py
  warehouse/forklift/legacy.py
Labels: UX/UI

#16339 Add CORS headers to HTTP exceptions
  tests/unit/test_views.py
  warehouse/locale/messages.pot
  warehouse/views.py
Labels: security

#16512 Update services recognized in detail.html
  warehouse/templates/packaging/detail.html
Labels: HTML

#16514 Add tests for the Google Trusted Publisher form
  tests/unit/oidc/forms/test_google.py
  warehouse/oidc/forms/google.py
Labels: trusted-publishing

#16523 Improve test collect time
  pyproject.toml
Labels: testing, developer experience

#16527 lint: run mypy with correct Python 3.12 version
  pyproject.toml
  warehouse/config.py
Labels: testing, developer experience

#16516 feat(admin): set primary email after recovery complete
  tests/unit/admin/views/test_users.py
  warehouse/admin/views/users.py
Labels: admin, email

#16513 Documentation on Project-Urls
  docs/mkdocs-user-docs.yml
  docs/user/assets/unverified_details.png
  docs/user/assets/verified_details.png
  docs/user/project_metadata.md
  docs/user/stylesheets/extra.css
Labels: documentation

#16530 Adopt a linter for pytest style & fix linting issues
  requirements/lint.in
  requirements/lint.txt
  setup.cfg
  tests/conftest.py
  tests/functional/manage/test_views.py
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_security_policy.py
  tests/unit/accounts/test_services.py
  tests/unit/accounts/test_views.py
  tests/unit/admin/views/test_flags.py
  tests/unit/admin/views/test_helpscout.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/admin/views/test_prohibited_project_names.py
  tests/unit/api/test_simple.py
  tests/unit/cache/origin/test_fastly.py
  tests/unit/captcha/test_recaptcha.py
  tests/unit/email/test_init.py
  tests/unit/events/test_models.py
  tests/unit/forklift/test_legacy.py
  tests/unit/forklift/test_metadata.py
  tests/unit/i18n/test_extensions.py
  tests/unit/integration/github/test_utils.py
  tests/unit/integration/vulnerabilities/osv/test_package.py
  tests/unit/integration/vulnerabilities/test_package.py
  tests/unit/legacy/api/test_json.py
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  tests/unit/macaroons/test_caveats.py
  tests/unit/macaroons/test_models.py
  tests/unit/macaroons/test_security_policy.py
  tests/unit/macaroons/test_services.py
  tests/unit/manage/test_forms.py
  tests/unit/manage/test_init.py
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_organizations.py
  tests/unit/manage/views/test_teams.py
  tests/unit/mock/test_billing.py
  tests/unit/oidc/forms/test_github.py
  tests/unit/oidc/forms/test_gitlab.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/test_utils.py
  tests/unit/oidc/test_views.py
  tests/unit/packaging/test_models.py
  tests/unit/packaging/test_services.py
  tests/unit/sitemap/test_views.py
  tests/unit/test_csp.py
  tests/unit/test_db.py
  tests/unit/test_filters.py
  tests/unit/test_predicates.py
  tests/unit/test_search.py
  tests/unit/test_tasks.py
  tests/unit/test_views.py
  tests/unit/tuf/test_tuf.py
  tests/unit/utils/test_http.py
  tests/unit/utils/test_static.py
  warehouse/sitemap/views.py
  warehouse/utils/static.py
Labels: testing, developer experience

#16538 Fix error when trying to verify Google TP URLs
  tests/unit/oidc/models/test_core.py
  warehouse/oidc/models/_core.py
Labels: UX/UI

#16532 Verified GitHub stats
  tests/unit/packaging/test_models.py
  warehouse/locale/messages.pot
  warehouse/packaging/models.py
  warehouse/static/sass/blocks/_verified.scss
  warehouse/templates/includes/packaging/project-data.html
  warehouse/templates/packaging/detail.html
Labels: UX/UI, HTML, CSS/SCSS

#16531 Fix missing unverified URLs
  tests/unit/forklift/test_legacy.py
  tests/unit/packaging/test_models.py
  warehouse/locale/messages.pot
  warehouse/packaging/models.py
  warehouse/templates/includes/packaging/project-data.html
Labels: UX/UI

#16497 Add publisher_url to the github_reusable_workflow metric.
  tests/unit/forklift/test_legacy.py
  tests/unit/oidc/test_views.py
  warehouse/forklift/legacy.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#16547 test: basic functional tests for simple API
  tests/functional/legacy_api/test_simple.py
Labels: testing

#16555 fix: also remove normalized docs
  tests/unit/manage/test_views.py
  tests/unit/utils/test_project.py
  warehouse/utils/project.py
Labels: bug :bug:

#16556 Add some releases to the Simple API functional test
  tests/functional/api/__init__.py
  tests/functional/api/test_simple.py
  tests/functional/forklift/__init__.py
  tests/functional/forklift/test_legacy.py
  tests/functional/legacy/__init__.py
  tests/functional/legacy/api/__init__.py
  tests/functional/legacy/api/test_pypi.py
  tests/functional/legacy/api/test_xmlrpc.py
  tests/functional/legacy_api/test_basic.py
  tests/functional/test_basic.py
  tests/functional/test_user_profile.py
Labels: testing

#16571 feat: create helpdesk service interface
  dev/environment
  tests/conftest.py
  tests/unit/helpdesk/__init__.py
  tests/unit/helpdesk/test_init.py
  tests/unit/helpdesk/test_services.py
  tests/unit/observations/test_tasks.py
  tests/unit/test_config.py
  warehouse/admin/views/helpscout.py
  warehouse/config.py
  warehouse/helpdesk/__init__.py
  warehouse/helpdesk/interfaces.py
  warehouse/helpdesk/services.py
  warehouse/observations/tasks.py
Labels: admin, email

#16577 test: compare output by ids instead of object
  tests/unit/admin/views/test_malware_reports.py
Labels: testing

#16578 docs: link to docs in Verified Details section
  warehouse/locale/messages.pot
  warehouse/templates/includes/packaging/project-data.html
Labels: UX/UI

#16584 Update icons reference in doc metadata docs
  docs/mkdocs-user-docs.yml
  docs/user/project_metadata.md
  warehouse/templates/packaging/detail.html
Labels: documentation

#16586 fix: account for second-level domain names
  Dockerfile
  requirements/main.in
  requirements/main.txt
  tests/unit/accounts/test_forms.py
  warehouse/accounts/forms.py
  warehouse/locale/messages.pot
Labels: bug :bug:

#16598 Add a functional test for file uploads
  tests/common/db/macaroons.py
  tests/conftest.py
  tests/functional/_fixtures/README.md
  tests/functional/_fixtures/sampleproject-3.0.0.tar.gz
  tests/functional/forklift/test_legacy.py
Labels: testing
