Repository pypi/warehouse, pull requests merged in 2025-08, with the labels that each got.

#18470 Attain 100% Coverage for `tests/` directory
  pyproject.toml
  tests/common/db/integrations.py
  tests/conftest.py
  tests/unit/accounts/test_views.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/cli/test_cli.py
  tests/unit/email/test_init.py
  tests/unit/forklift/test_legacy.py
  tests/unit/i18n/test_extensions.py
  tests/unit/legacy/api/test_json.py
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  tests/unit/manage/test_init.py
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_organizations.py
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/test_views.py
  tests/unit/organizations/test_models.py
  tests/unit/organizations/test_views.py
  tests/unit/packaging/test_models.py
  tests/unit/packaging/test_tasks.py
  tests/unit/packaging/test_views.py
  tests/unit/search/test_tasks.py
  tests/unit/test_csrf.py
  tests/unit/test_db.py
Labels: testing

#18477 feat(admin): set Help Scout URL on malware report
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_malware_reports.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/malware_reports/detail.html
  warehouse/admin/views/malware_reports.py
Labels: admin, malware-detection, data quality

#18465 feat(dev): add local weblate config file
  .weblate.ini
Labels: developer experience, translation

#18486 lint: enable unreachable code detection
  pyproject.toml
  warehouse/macaroons/models.py
Labels: testing, developer experience

#18495 feat(admin): surface projects in quarantine
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_quarantine.py
  warehouse/admin/routes.py
  warehouse/admin/static/css/admin.scss
  warehouse/admin/templates/admin/base.html
  warehouse/admin/templates/admin/quarantine/list.html
  warehouse/admin/views/quarantine.py
Labels: admin, malware-detection

#18480 fix(admin): strip whitespace from value
  tests/unit/admin/views/test_organizations.py
  warehouse/admin/views/organizations.py
Labels: bug :bug:, admin

#18422 feat: implement PEP 792 project status markers
  docs/user/api/index-api.md
  tests/unit/api/test_simple.py
  warehouse/packaging/models.py
  warehouse/packaging/utils.py
  warehouse/templates/api/simple/detail.html
Labels: APIs/feeds

#18537 docs: add a PEP 792 blog post
  docs/blog/.authors.yml
  docs/blog/posts/2025-08-14-project-status-markers.md
Labels: blog

#18566 feat(admin): show release count on project detail
  warehouse/admin/templates/admin/projects/detail.html
Labels: UX/UI, admin
