Repository pypi/warehouse, pull requests merged in 2025-01, with the labels that each got.

#17310 lint/doc updates
  warehouse/cli/db/dbml.py
  warehouse/packaging/models.py
  warehouse/search/tasks.py
  warehouse/sitemap/views.py
  warehouse/tasks.py
Labels: testing, developer experience

#17339 blog: project quarantine
  docs/blog/assets/2024-12-30-quarantine-verdicts.png
  docs/blog/posts/2024-12-30-quarantine.md
Labels: blog

#17333 feat: debugging printer with variable substitution
  tests/unit/utils/db/test_query_printer.py
  warehouse/utils/db/query_printer.py
Labels: developer experience

#17361 refactor: replace windowed_query with yield_per
  tests/unit/utils/db/test_windowed_query.py
  warehouse/search/tasks.py
  warehouse/utils/db/__init__.py
  warehouse/utils/db/windowed_query.py
Labels: search

#17372 feat(admin): display any alt repo locations
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#17376 Orgs: Collect terms of service agreement before billing activation
  tests/unit/manage/views/test_organizations.py
  tests/unit/organizations/test_services.py
  warehouse/locale/messages.pot
  warehouse/manage/forms.py
  warehouse/manage/views/organizations.py
  warehouse/migrations/versions/5bc11bd312e5_create_organization_terms_of_service_.py
  warehouse/organizations/interfaces.py
  warehouse/organizations/models.py
  warehouse/organizations/services.py
  warehouse/static/js/warehouse/controllers/organization_terms_of_service_accepted_controller.js
  warehouse/static/sass/blocks/_form-group.scss
  warehouse/subscriptions/services.py
  warehouse/templates/manage/organization/activate_subscription.html
Labels: organizations

#17380 orgs: stripe data hygiene
  dev/environment
  tests/conftest.py
  tests/unit/api/test_billing.py
  tests/unit/organizations/test_models.py
  tests/unit/subscriptions/test_services.py
  warehouse/api/billing.py
  warehouse/locale/messages.pot
  warehouse/manage/views/organizations.py
  warehouse/organizations/models.py
  warehouse/subscriptions/models.py
  warehouse/subscriptions/services.py
Labels: organizations

#17404 chore: add composite index for journals
  warehouse/migrations/versions/ed4cc2ef6b0f_create_composite_index_for_journals.py
  warehouse/packaging/models.py
Labels: admin

#17281 Warn users when GitHub/GitLab environments are not checked during Trusted Publishing
  tests/unit/email/test_init.py
  tests/unit/manage/test_views.py
  tests/unit/oidc/test_views.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/oidc/forms/_core.py
  warehouse/oidc/views.py
  warehouse/templates/email/environment-ignored-in-trusted-publisher/body.html
  warehouse/templates/email/environment-ignored-in-trusted-publisher/body.txt
  warehouse/templates/email/environment-ignored-in-trusted-publisher/subject.txt
  warehouse/templates/manage/project/publishing.html
Labels: trusted-publishing, email

#17382 fix: minor edits to make dev docs a bit more clear
  docs/dev/development/getting-started.rst
Labels: documentation, developer experience

#17412 feat: automatically quarantine project via task
  dev/environment
  tests/conftest.py
  tests/unit/helpdesk/test_init.py
  tests/unit/helpdesk/test_services.py
  tests/unit/observations/test_tasks.py
  warehouse/config.py
  warehouse/helpdesk/__init__.py
  warehouse/helpdesk/interfaces.py
  warehouse/helpdesk/services.py
  warehouse/observations/tasks.py
  warehouse/utils/project.py
Labels: admin, security

#15612 Allow translating from javascript files
  Dockerfile
  babel.cfg
  docker-compose.yml
  docs/dev/development/frontend.rst
  docs/dev/translations.rst
  package-lock.json
  package.json
  tests/frontend/messages_access_test.js
  tests/frontend/password_strength_gauge_controller_test.js
  tests/frontend/timeago_test.js
  warehouse/forms.py
  warehouse/i18n/__init__.py
  warehouse/locale/Makefile
  warehouse/locale/messages.pot
  warehouse/static/js/warehouse/controllers/clipboard_controller.js
  warehouse/static/js/warehouse/controllers/password_breach_controller.js
  warehouse/static/js/warehouse/controllers/password_match_controller.js
  warehouse/static/js/warehouse/controllers/password_strength_gauge_controller.js
  warehouse/static/js/warehouse/utils/messages-access.js
  warehouse/static/js/warehouse/utils/timeago.js
  warehouse/templates/base.html
  webpack.config.js
  webpack.plugin.localize.js
Labels: javascript, i18n

#17005 Allow marking projects as "archived"
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_projects.py
  tests/unit/manage/test_views.py
  tests/unit/packaging/test_models.py
  tests/unit/test_routes.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/projects/detail.html
  warehouse/admin/views/projects.py
  warehouse/events/tags.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/migrations/versions/12a43f12cc18_add_new_lifecycle_statuses.py
  warehouse/packaging/models.py
  warehouse/routes.py
  warehouse/templates/manage/project/settings.html
  warehouse/templates/packaging/detail.html
  warehouse/utils/project.py
Labels: UX/UI, HTML

#17441 rightsize our depot runners
  .github/workflows/ci.yml
Labels: testing

#17445 chore(ci): update node dependencies
  .github/workflows/node-ci.yml
  package-lock.json
  package.json
  warehouse/static/sass/warehouse.scss
Labels: javascript, dependencies

#17446 chore: remove Click encoding stuffs
  bin/deps
  bin/lint
  bin/pip-compile
  bin/static_lint
  bin/static_pipeline
  bin/static_tests
  bin/tests
  bin/translations
  bin/user-docs
  bin/wait-for-db
Labels: developer experience

#17469 chore(deps): prevent unintended update to transitive dep
  package-lock.json
  package.json
Labels: javascript, admin, dependencies

#17453 history: render project archival enter/exit events
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/history.html
Labels: UX/UI, HTML

#17486 fix: use correct, unique tag
  warehouse/forklift/legacy.py
Labels: bug :bug:

#17498 integrity: refine Accept header handling
  tests/unit/api/test_integrity.py
  warehouse/api/integrity.py
  warehouse/api/simple.py
Labels: APIs/feeds

#17512 Use zizmor from PyPI
  .github/workflows/zizmor.yml
Labels: testing

#17518 blog: add bluesky to footer
  docs/mkdocs-blog.yml
Labels: blog

#17484 Add blog post for archiving projects
  docs/blog/.authors.yml
  docs/blog/assets/2025-01-30-archival/screenshot-message.png
  docs/blog/assets/2025-01-30-archival/screenshot-settings.png
  docs/blog/posts/2025-01-30-archival.md
Labels: blog

#17525 fix: redirect verified users from unverified
  tests/unit/manage/test_views.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
Labels: bug :bug:
