Repository pypi/warehouse, pull requests merged in 2025-05, with the labels that each got.

#18064 chore(dev,deps): remove specific ipython transitive deps
  requirements/ipython.txt
Labels: developer experience, dependencies

#18069 Pin `Dockerfile` to `pip==25.0.1`
  Dockerfile
Labels: dependencies, docker

#18063 chore: pin dev-related dependencies
  bin/deps
  requirements/dev.in
  requirements/dev.txt
Labels: developer experience, docker

#18074 fix: use both archived statuses in manage UI
  warehouse/admin/templates/admin/projects/detail.html
Labels: HTML

#18075 fix: use both archived statuses in manage UI
  warehouse/templates/manage/project/settings.html
  warehouse/templates/manage/projects.html
Labels: HTML

#18077 Bump google-crc32c from 1.6.0 to 1.7.1
  requirements/main.txt
Labels: dependencies

#18058 Build with `--only-binary :all:`
  Dockerfile
Labels: dependencies

#18088 chore: disallow password resets to unverified email
  tests/conftest.py
  tests/unit/accounts/test_views.py
  tests/unit/email/test_init.py
  warehouse/accounts/views.py
  warehouse/email/__init__.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/request-password-reset.html
  warehouse/templates/email/password-reset-unverified/body.html
  warehouse/templates/email/password-reset-unverified/body.txt
  warehouse/templates/email/password-reset-unverified/subject.txt
Labels: security, email

#18103 chore: hash-pin all workflow versions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/combine-prs.yml
  .github/workflows/dev-env-test.yml
  .github/workflows/node-ci.yml
  .github/workflows/zizmor.yml
Labels: github_actions

#18113 chore(docs): add social links for Mastodon and Bluesky
  docs/mkdocs-user-docs.yml
Labels: documentation
