Repository pypi/warehouse, pull requests merged in 2025-03, with the labels that each got.

#17649 feat: detect typos in project names during upload
  tests/conftest.py
  tests/functional/forklift/test_legacy.py
  tests/unit/packaging/test_services.py
  tests/unit/packaging/test_typosnyper.py
  warehouse/locale/messages.pot
  warehouse/oidc/forms/_core.py
  warehouse/packaging/interfaces.py
  warehouse/packaging/services.py
  warehouse/packaging/typosnyper.py
Labels: feature request, squatting

#17602 Fix `s/frow/from` typo @ `publishing.html` template
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/publishing.html
Labels: HTML, awaiting-response

#17730 Shrink org icon
  warehouse/locale/messages.pot
  warehouse/static/images/blue-sitemap.png
  warehouse/static/images/blue-sitemap.svg
  warehouse/templates/includes/packaging/project-data.html
Labels: HTML

#17716 docs: new and shiny storage limit docs
  dev/environment
  docs/mkdocs-user-docs.yml
  docs/user/assets/project-size-and-limits.png
  docs/user/assets/release-options-yank.png
  docs/user/assets/yank-confirm-modal.png
  docs/user/project-management/storage-limits.md
  docs/user/project-management/yanking.md
  tests/unit/forklift/test_init.py
  tests/unit/forklift/test_legacy.py
  tests/unit/test_config.py
  warehouse/config.py
  warehouse/forklift/__init__.py
  warehouse/forklift/legacy.py
  warehouse/locale/messages.pot
  warehouse/templates/manage/project/release.html
  warehouse/templates/manage/project/releases.html
  warehouse/templates/manage/project/settings.html
  warehouse/templates/pages/help.html
Labels: documentation

#17762 fix: false positive on swapped words
  tests/unit/packaging/test_typosnyper.py
  warehouse/packaging/typosnyper.py
Labels: squatting

#15710 record when a login used a remembered device
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/manage/account.html
Labels: UX/UI, security, 2FA

#17771 fix: make event relationship order explicit
  warehouse/events/models.py
Labels: admin

#17792 chore(deps): pin coverage to pre-7.7.0
  requirements/tests.in
  requirements/tests.txt
Labels: dependencies

#17797 feat: compute top dependent corpus into cache
  tests/unit/packaging/test_tasks.py
  warehouse/packaging/__init__.py
  warehouse/packaging/tasks.py
Labels: squatting

#17812 feat: use corpus from cache for typo checking
  pyproject.toml
  tests/conftest.py
  tests/unit/cache/test_services.py
  warehouse/cache/services.py
  warehouse/packaging/services.py
Labels: squatting

#17740 Use `factory.Sequence` with `faker.unique` to remove the chance of duplicate values
  tests/common/db/accounts.py
  tests/common/db/ip_addresses.py
  tests/common/db/oidc.py
  tests/common/db/packaging.py
  tests/common/db/ses.py
  tests/common/db/subscriptions.py
Labels: testing
