Repository pypi/warehouse, pull requests merged in 2025-04, with the labels that each got.

#17889 feat(admin): add direct link to inspector for file
  warehouse/admin/templates/admin/projects/release_detail.html
Labels: UX/UI, HTML, admin

#17890 More org review tweaks
  tests/unit/admin/views/test_organizations.py
  warehouse/admin/static/js/warehouse.js
  warehouse/admin/templates/admin/organization_applications/detail.html
  warehouse/admin/templates/admin/organization_applications/list.html
  warehouse/admin/views/organizations.py
Labels: HTML, admin, organizations

#17897 docs: add support notes for orgs
  docs/mkdocs-user-docs.yml
  docs/user/organization-accounts/support.md
Labels: documentation, organizations

#17913 requirements: bump pypi-attestations to 0.0.23
  requirements/main.in
  requirements/main.txt
Labels: dependencies

#17832 feat: add domain verification
  dev/environment
  tests/conftest.py
  tests/unit/accounts/test_core.py
  tests/unit/accounts/test_services.py
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_users.py
  warehouse/accounts/__init__.py
  warehouse/accounts/interfaces.py
  warehouse/accounts/models.py
  warehouse/accounts/services.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
  warehouse/config.py
  warehouse/migrations/versions/465f004c9562_add_email_domain_checks.py
  warehouse/migrations/versions/e61f32ec7f1d_new_org_app_qs.py
Labels: feature request, admin, security, email

#17998 Constraint on normalized organization names
  tests/unit/admin/views/test_organizations.py
  tests/unit/organizations/test_services.py
  warehouse/migrations/versions/f609b35e981b_unique_normalized_organization_names.py
  warehouse/organizations/models.py
  warehouse/organizations/services.py
Labels: blocked

#18021 chore: remove alt text from sponsor images
  tests/unit/sponsors/test_models.py
  warehouse/sponsors/models.py
Labels: accessibility

#18034 feat(admin): icon to find a user account from email
  warehouse/admin/templates/admin/emails/detail.html
Labels: HTML, admin

#18039 feat(admin): add modal to delete an email address
  tests/unit/admin/test_routes.py
  tests/unit/admin/views/test_users.py
  warehouse/admin/routes.py
  warehouse/admin/templates/admin/users/detail.html
  warehouse/admin/views/users.py
Labels: admin

#18054 chore(deps): remove direct dependency setuptools
  requirements/lint.in
  requirements/lint.txt
  requirements/main.in
  requirements/main.txt
Labels: dependencies

#18056 feat(dev): add names for persistent volumes
  docker-compose.yml
Labels: developer experience

#18057 chore: remove setuptools/wheel installation in image
  Dockerfile
Labels: dependencies, docker
