Repository pypi/warehouse, pull requests merged in 2025-07, with the labels that each got.

#18322 fix(dev): ensure ci step has jq available
  .github/workflows/ci.yml
  bin/db-check
Labels: developer experience, github_actions

#18349 feat: registration email confirmation dialog
  tests/frontend/email-confirmation_controller_test.js
  warehouse/locale/messages.pot
  warehouse/static/js/warehouse/controllers/email-confirmation_controller.js
  warehouse/templates/accounts/register.html
Labels: javascript, HTML

#18238 oidc: add expiry key to mint_token response
  tests/unit/oidc/test_views.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#18366 lint: check `@view_config.renderer` filenames
  dev/flake8/checkers.py
  setup.cfg
Labels: developer experience

#18369 fix: restore surrounding whitespace
  warehouse/templates/base.html
Labels: HTML

#18371 fix: nest th under tr correctly
  warehouse/locale/messages.pot
  warehouse/templates/manage/account.html
Labels: HTML

#18387 style: wrap the yanked reason to prevent overflow
  warehouse/static/sass/blocks/_release.scss
  webpack.config.js
Labels: CSS/SCSS

#18388 lint: extend check for fully-qualified package name
  dev/flake8/checkers.py
Labels: testing, developer experience

#18397 feat(admin): make better use of screen real estate
  warehouse/admin/templates/admin/users/list.html
Labels: HTML, admin

#18421 blog: inbox.ru domain reinstated
  docs/blog/posts/2025-06-15-prohibiting-inbox-ru-emails.md
  docs/blog/posts/2025-07-25-inbox-ru-follow-up.md
Labels: blog

#18438 fix: restrict chunk size to 10MB per quota
  tests/unit/search/test_tasks.py
  warehouse/search/tasks.py
Labels: search

#18441 fix(search): limit documents in bulk load chunk
  tests/unit/search/test_tasks.py
  warehouse/search/tasks.py
Labels: search

#18443 fix(search): limit description for search
  warehouse/search/tasks.py
Labels: search

#18444 fix(search): limit description for search
  warehouse/packaging/search.py
  warehouse/search/tasks.py
Labels: search

#18462 blog: incident report - phishing
  docs/blog/posts/2025-07-28-pypi-phishing-attack.md
  docs/blog/posts/2025-07-31-incident-report-phishing-attack.md
  docs/mkdocs-blog.yml
Labels: security, blog
