Repository pypi/warehouse, pull requests merged in 2025-02, with the labels that each got.

#17546 Update PEP 625 emails
  warehouse/templates/email/pep625-extension-email/body.html
  warehouse/templates/email/pep625-extension-email/body.txt
  warehouse/templates/email/pep625-name-email/body.html
  warehouse/templates/email/pep625-name-email/body.txt
  warehouse/templates/email/pep625-version-email/body.html
  warehouse/templates/email/pep625-version-email/body.txt
Labels: email

#17544 skip RTD builds if no relevant changes occur
  bin/rtd-docs
Labels: documentation

#17567 style(admin): style code burning form
  warehouse/admin/templates/admin/users/detail.html
Labels: HTML, admin

#17405 Improve error messages when a pending Trusted Publisher's project name already exists
  tests/unit/accounts/test_views.py
  tests/unit/oidc/forms/test_activestate.py
  tests/unit/oidc/forms/test_github.py
  tests/unit/oidc/forms/test_gitlab.py
  tests/unit/oidc/forms/test_google.py
  tests/unit/packaging/test_services.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/oidc/forms/_core.py
  warehouse/oidc/forms/activestate.py
  warehouse/oidc/forms/github.py
  warehouse/oidc/forms/gitlab.py
  warehouse/oidc/forms/google.py
  warehouse/packaging/interfaces.py
  warehouse/packaging/services.py
Labels: trusted-publishing

#17519 lint: narrow types to ensure correct usage
  warehouse/admin/views/organizations.py
  warehouse/admin/views/prohibited_project_names.py
  warehouse/cli/sponsors.py
  warehouse/forklift/legacy.py
  warehouse/integrations/__init__.py
  warehouse/legacy/api/json.py
  warehouse/locale/messages.pot
  warehouse/macaroons/services.py
  warehouse/manage/views/__init__.py
  warehouse/migrations/env.py
  warehouse/packaging/tasks.py
  warehouse/packaging/views.py
  warehouse/search/__init__.py
  warehouse/views.py
Labels: testing, developer experience

#17592 chore(deps): upgrade cryptography
  requirements/lint.txt
  requirements/main.txt
Labels: dependencies, python

#17448 docs(dev): database-related information
  docs/dev/development/database-migrations.rst
  docs/dev/development/development-database.rst
Labels: documentation

#17588 Dependency stuff
  Makefile
  bin/deps
  bin/deps-upgrade
  docs/dev/development/patterns.rst
Labels: developer experience

#17576 Check for existing Trusted Publishers before constraining existing one
  tests/unit/manage/test_views.py
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/models/test_google.py
  tests/unit/oidc/test_views.py
  warehouse/locale/messages.pot
  warehouse/manage/views/__init__.py
  warehouse/oidc/models/_core.py
  warehouse/oidc/models/activestate.py
  warehouse/oidc/models/github.py
  warehouse/oidc/models/gitlab.py
  warehouse/oidc/models/google.py
  warehouse/oidc/views.py
Labels: trusted-publishing

#17571 profile: add archived projects section
  tests/functional/test_user_profile.py
  tests/unit/accounts/test_views.py
  warehouse/accounts/views.py
  warehouse/locale/messages.pot
  warehouse/templates/accounts/profile.html
  warehouse/templates/pages/help.html
Labels: HTML

#17626 dependencies check: don't compile deps from scratch
  bin/deps
Labels: developer experience

#17631 Refactor: Replace Fixtures with static values to Constants
  tests/common/constants.py
  tests/conftest.py
  tests/unit/accounts/test_forms.py
  tests/unit/accounts/test_security_policy.py
  tests/unit/accounts/test_services.py
  tests/unit/email/test_init.py
  tests/unit/ip_addresses/test_models.py
  tests/unit/manage/test_forms.py
  tests/unit/oidc/test_views.py
  tests/unit/subscriptions/test_services.py
  tests/unit/utils/test_wsgi.py
Labels: testing

#17662 fix flaky tests for user notification task
  tests/unit/accounts/test_tasks.py
Labels: testing

#17677 feat: add index to Provenance.file_id
  warehouse/attestations/models.py
  warehouse/migrations/versions/635b80625fc9_add_index_to_provenance_file_id.py
  warehouse/migrations/versions/7f0c9f105f44_create_attestations_table.py
Labels: performance
